@import url(//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk8ZkaVc.ttf)
    format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsiH0C4n.ttf)
    format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0C4n.ttf)
    format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsgH1y4n.ttf)
    format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1y4n.ttf)
    format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgshZ1y4n.ttf)
    format("truetype");
}

.masthead .main-navbar ul li a,
.navbar-nav li a,
.masthead .navigation .nav-pills li a {
  margin: 0;
  padding: 15px;
  border-bottom: 5px solid transparent;
  color: #000;
  font-weight: 500;
}

.masthead .main-navbar ul li a:hover,
.navbar-nav li a:hover,
.masthead .navigation .nav-pills li a:hover {
  background-color: transparent;
  border-radius: 0;
  border-bottom: 5px solid rgba(0, 86, 255, 0.7);
  -webkit-box-shadow: none;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.7);
}

.masthead .main-navbar ul li.active a,
.masthead .navigation .nav-pills li.active a {
  background-color: transparent;
  border-radius: 0;
  border-bottom: 5px solid #0056ff;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.7);
}
.masthead .site-search {
  float: right;
  margin-top: 5px;
}
.btn,
.btn-admin-upload {
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 4px;
}
.js .image-upload .btn .btn-admin-upload {
  background-image: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 4px !important;
}
.btn.btn-default.btn-admin-upload.hover,
.btn.btn-default.btn-admin-upload:hover {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background-color: #0047d4 !important;
  color: #fff !important;
}
@media screen and (max-width: 720px) {
  .control-checkbox-group input,
  .control-checkbox-group label {
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
  }
  .selection_label {
    margin-left: 0 !important;
  }
  .ch-width {
    width: 100%;
  }
  .buttons-group li a {
    margin-bottom: 10px;
  }
  .site-footer {
    padding: 0 30px;
  }
  .applicaitons-box .content-box {
    float: left;
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }
  .page-header h1 {
    font-size: 1.2rem !important;
  }
  .filters-wrapper {
    height: auto !important;
    padding-bottom: 40px;
  }
  .wrapper.no-nav {
    margin-left: 0 !important;
  }
  .visualizations .item::before {
    display: none;
  }
  span.grippy {
    display: none !important;
  }
  .chart-actions li {
    margin-bottom: 12px !important;
  }
}
.custom-footer {
  color: #fff;
  padding: 10px 40px;
  display: grid !important;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  -webkit-column-gap: 50px;
  -moz-column-gap: 50px;
  column-gap: 50px;
  row-gap: 20px;
}
.custom-footer > div:nth-child(n + 3) {
  text-align: right;
}
.custom-footer p {
  margin: 0;
}
.custom-footer img {
  display: inline-block;
  height: 50px;
}
.custom-footer .social-media img {
  height: 25px;
  margin-left: 10px;
  margin-top: 5px;
}
.custom-footer .supporters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
.custom-footer .supporters .attribution {
  margin-left: 20px;
  margin-right: 0;
}
.dataTable .dt-button {
  margin: auto 2px;
}
.dataTable .dt-button span:before {
  margin-right: 5px;
  font-family: FontAwesome;
  content: "\f019";
}
.dataTable .dataTables_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.dataTable .dataTables_wrapper table {
  min-width: 100%;
  table-layout: auto;
  word-break: break-all;
}
.dataTable .dataTables_wrapper .paginate_button:hover {
  background: #0056ff;
  border-color: #003499;
}
.dataTable .dataTables_wrapper .paginate_button.disabled,
.dataTable .dataTables_wrapper .paginate_button.disabled:hover {
  background: 0 0;
  border: transparent;
}
.dataTable .dataTables_wrapper .paginate_button.current,
.dataTable .dataTables_wrapper .paginate_button.current:hover {
  color: #fff !important;
  background: #0056ff;
  border-color: #0056ff;
}
.dataTable .dataTables_wrapper input {
  vertical-align: baseline;
}
.dataTable .dataTables_wrapper select {
  margin: 0 5px;
  vertical-align: baseline;
}
.dataTable .dataTables_wrapper label {
  font-weight: 500;
  margin-bottom: 0;
}
.dataTable .dataTables_wrapper label:after {
  display: none;
}
.dataTable .dataTables_wrapper .dataTables_filter input {
  margin-bottom: 0;
}
.dataTable .dataTables_wrapper .dataTables_filter,
.dataTable .dataTables_wrapper .dataTables_length,
.dataTable .dataTables_wrapper .dt-buttons {
  background: #f7f7f7;
  border: 1px solid #ccc;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 3px;
}
.dataTable .dataTables_wrapper .dataTable th,
.dataTable .dataTables_wrapper .dataTable.no-footer {
  border-color: #ccc;
}
.dataTable .dataTables_wrapper .dataTables_empty,
.dataTable .dataTables_wrapper .dataTables_info {
  color: #999;
}
.dataTable .dataTables_wrapper .dataTables_info,
.dataTable .dataTables_wrapper .dataTables_paginate {
  margin: 10px 0;
}
.dataTable .dataTables_wrapper .dataTables_info {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
}
.toolbar .breadcrumb {
  font-size: 14px;
}
.toolbar .breadcrumb li::after {
  margin-left: 5px;
  margin-right: 5px;
}
@media (max-width: 767px) {
  .toolbar .breadcrumb {
    color: inherit;
    text-shadow: none;
  }
  .toolbar .breadcrumb a {
    color: inherit;
    text-shadow: none;
  }
}
.new_toolbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.new_toolbar .search-reports {
  float: right;
  margin-right: 20px;
  margin-left: auto;
}
.new_toolbar .search-reports .field-sitewide-search {
  width: 210px;
}
.new_toolbar .search-reports form {
  margin-bottom: 0;
}
.embed-navbar-items {
  margin-left: auto;
  margin-right: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.fullscreen-btn {
  opacity: 0.5;
  -webkit-transition: opacity;
  -o-transition: opacity;
  transition: opacity;
}
.fullscreen-btn:hover {
  opacity: 0.9;
  -webkit-transition: opacity;
  -o-transition: opacity;
  transition: opacity;
}
body {
  font-family: "Open Sans", sans-serif;
  background-image: none;
  background-color: #0056ff;
}
a {
  color: #0056ff;
}
.homepage .module-search .module-content {
  background-color: #0056ff;
}
.homepage .module-search .tags {
  background-color: #292929;
}
.text-primary {
  color: #0056ff;
}
@media (min-width: 767px) {
  .group-items {
    padding-left: 20px;
  }
}
@media (max-width: 767px) {
  .account-masthead {
    margin-left: 0;
    margin-right: 0;
  }
}
.account-masthead {
  background-color: #d2d2d2;
  background-image: none;
}
.account-masthead .account ul li {
  border-left: 1px solid #a7a7a7;
}
.account-masthead .account ul li a {
  color: #2f2f2f;
}
.account-masthead .account ul li a:hover {
  color: rgba(255, 255, 255, 0.9);
  background-color: #0056ff;
}
.masthead {
  background-color: #e8e8e8;
  background-image: none;
  height: auto;
}

.masthead .navigation .nav-pills li a {
  margin: 0;
  padding: 15px;
  border-bottom: 5px solid transparent;
  color: #000;
  font-weight: 500;
}

.masthead .main-navbar ul li a:hover,
.masthead .navigation .nav-pills li a:hover {
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.7);
}

.masthead .main-navbar ul li.active a,
.masthead .navigation .nav-pills li.active a {
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.7);
}

.masthead .site-search {
  float: right;
  margin-top: 0;
}

.masthead .search-input-right {
  margin-left: 20px;
}
.masthead .nav > li > a {
  color: rgba(255, 255, 255, 0.7);
}
.masthead #field-sitewide-search:focus {
  -webkit-box-shadow: inset 0 0 0 1px #0056ff;
  box-shadow: inset 0 0 0 1px #0056ff;
  border-color: #0056ff;
}
.masthead input[type="text"] {
  border-color: #ababab;
}
.nav-tabs a .fa {
  display: inline;
}
.nav-tabs a .fa:after {
  content: "";
  margin: 0 3px 0 0;
}
.btn {
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 4px;
}
.btn:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #0047d4;
  color: #fff;
}
.primary .btn .fa,
.public-query .btn .fa,
.secodary .btn .fa,
.site-footer .btn .fa {
  display: inline;
}
.primary .btn .fa:after,
.public-query .btn .fa:after,
.secodary .btn .fa:after,
.site-footer .btn .fa:after {
  content: "";
  margin: 0 3px 0 0;
}
.btn-primary {
  background-color: #0056ff;
}
.btn-primary:focus {
  background-color: #0056ff;
}
.btn-primary:hover {
  background-color: #0047d4;
}
.btn-secondary {
  background-color: #003499;
  border-color: #0056ff;
  color: #fff;
  text-shadow: none;
}
.btn-secondary:focus,
.btn-secondary:hover {
  color: #fff;
  background-color: #002b80;
}
.btn-danger {
  background-color: #cf0000;
}
.btn,
label {
  font-weight: 400;
}
.btn-large .caret {
  margin-top: 8px;
  margin-left: 5px;
}
.btn-download,
.btn-download .btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.btn-download .btn,
.btn-download .btn-group .btn {
  padding: 20px;
}
.btn-download .btn {
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 500;
  font-size: 20px;
  font-family: inherit;
  border: transparent;
}
.btn-update {
  font-size: 20px;
  padding: 20px;
  border-color: transparent;
  font-weight: 500;
  font-family: inherit;
  border-radius: 4px;
}
.btn-filter-toggle.on {
  border-color: #51a351;
  background-color: #51a351;
}
.btn-chart-download {
  cursor: pointer;
  float: right;
  z-index: 10;
  color: #000;
  font-size: 1em;
}
.form-actions .btn {
  margin-left: 10px;
}
.btn-ordinary {
  background-color: #d2d2d2;
}
.btn-ordinary:active,
.btn-ordinary:focus,
.btn-ordinary:hover {
  background-color: #e8e8e8;
  color: #000;
}
#main-navigation-toggle > div > form:nth-child(3) > button,
#main-navigation-toggle > div > form:nth-child(2) > button {
  border: unset !important;
  background: unset !important;
  color: gray !important;
}
#main-navigation-toggle > div > form:nth-child(3) > button:hover,
#main-navigation-toggle > div > form:nth-child(2) > button:hover {
  color: black !important;
}
#vs-page
  > div.account-masthead
  > div
  > div
  > ul
  > li:nth-child(5)
  > form
  > button {
  border: unset !important;
  background: unset !important;
  padding: 6px 12px !important;
}
#vs-page
  > div.account-masthead
  > div
  > div
  > ul
  > li:nth-child(5)
  > form
  > button:hover {
  color: white !important;
}
#vs-page > div.account-masthead > div > div > ul > li:nth-child(5):hover {
  background-color: #0056ff !important;
}
.btn .header-search {
  all: unset !important;
  cursor: pointer;
}
#vs-page > div.account-masthead > div {
  width: 100% !important;
  min-width: unset !important;
  max-width: unset !important;
}
.site-footer {
  background-color: #232323;
}
.site-footer .container {
  padding-top: 20px;
  padding-bottom: 20px;
}
/*.site-footer .container .custom-theme {
  width: 100% !important;
  max-width: 100% !important;
}*/
.site-footer a {
  color: rgba(255, 255, 255, 0.7);
}
.site-footer .dropdown-toggle {
  color: #292929;
}
.site-footer input[type="text"] {
  border-color: #ccc;
}
.site-footer,
.site-footer label,
.site-footer small {
  color: rgba(255, 255, 255, 0.7);
}
.uneditable-input,
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="datetime"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
  border-radius: 0;
}
.dropdown-menu {
  border-radius: 0;
  z-index: 10000;
}
.search-form .search-input.search-giant button {
  margin-top: -15px;
}
.search-giant .search:focus {
  -webkit-box-shadow: inset 0 0 0 2px #0056ff;
  box-shadow: inset 0 0 0 2px #0056ff;
  border-color: #0056ff;
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  background: #0056ff;
}
.dropdown-submenu:focus > a,
.dropdown-submenu:hover > a {
  background: #0056ff;
}
.control-checkbox-group input[type="checkbox"] {
  top: 0;
}
.control-checkbox-group input[type="checkbox"]:checked + label {
  font-weight: 700;
  text-decoration: underline;
}
.control-checkbox-group label {
  padding: 0 5px;
  margin-left: 5px;
  margin-bottom: 0;
}
.control-checkbox-group label:after {
  content: "";
}
input[type="color"].colorpicker {
  height: 27px;
  width: 50px;
  padding: 1px 2px;
  margin-left: 8px;
}
.seq-color-preview {
  width: 100%;
  height: 20px;
}
.query-item {
  border: 1px solid #c4c4c4;
  padding: 10px 20px;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.query-body {
  margin: 0 20px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.query-body h2 {
  margin-bottom: 0;
}
.query-actions {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-bottom: 0;
}
.filter_item {
  border-bottom: 1px solid #dedede;
  border-radius: 5px;
  margin: 20px 0;
}
.chart-actions {
  display: inline-block;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  bottom: 0;
}
.chart-actions.inline > li {
  margin-right: 12px;
  margin-left: 12px;
}
.chart-actions.inline > li:last-child {
  padding-right: 0;
}
.visualization-fields-section {
  position: relative;
  border: 1px solid #c4c4c4;
  padding: 20px;
  margin-bottom: 10px;
  background: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.preview-wrapper {
  background: #fff;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #dedede;
}
.map .item-content {
  min-width: 100%;
  min-height: 500px;
}
.item-wrapper textarea {
  min-height: 300px;
  max-width: 100%;
}
.item-wrapper .control-group.title {
  margin-bottom: 0;
}
.item-wrapper .control-group.title textarea {
  min-height: 60px;
}
.item-wrapper .control-group.title-vars {
  margin-bottom: 0;
}
.item-wrapper .control-group.title-vars select {
  color: gray;
}
.item-wrapper .control-group.title-vars option[value=""][disabled] {
  display: none;
}
.item-wrapper .control-group.title-vars option {
  color: #000;
}
.item-wrapper .control-group.title-help .controls {
  padding: 4px 10px;
  background-color: #ebebeb;
  border: solid 1px #ccc;
  font-size: 11px;
}
.item-wrapper .control-group.title-help a {
  color: #187794;
}
.item-wrapper .control-group.title-help pre {
  word-break: normal;
}
.item-wrapper .control-group.title-help .popover-content {
  word-break: normal;
}
.chart-controls-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.tool-embed {
  color: #000 !important;
}
.related-query-item {
  margin-bottom: 20px;
}
.related-query-item .control-group {
  margin-bottom: 0;
}
.related-query-item .filter-actions {
  margin-right: 20px;
  margin-bottom: 0;
}
.filter-actions {
  margin-right: 20px;
}
hr {
  border-top-color: #dedede;
}
.c3-title {
  font-size: 15px !important;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.c3-axis,
.c3-chart-texts {
  font-size: 12px !important;
}
.c3-line {
  stroke-width: 3px;
}
.c3-grid text {
  fill: #000;
}
.c3 .c3-ygrid-line.base {
  display: block;
}
.c3 .c3-ygrid-line.active {
  display: none;
}
.c3:hover .c3-ygrid-line.base {
  display: none;
}
.c3:hover .c3-ygrid-line.active {
  display: block;
}
.c3:hover .c3-ygrid-line.active text {
  font-size: 125%;
  font-weight: 700;
}
.c3:hover .c3-ygrid-line.active line {
  stroke: #000;
}
table.dataTable thead th {
  font-size: 15px;
  background-color: #f5f5f5;
}
table.dataTable tbody td {
  font-size: 15px;
}
.dt-header {
  font-size: 22px;
}
.dataTables_length {
  margin-right: 10px;
}
.dataTables_length > label > select {
  width: 60px;
}
.dataTables_filter > label > input {
  width: 120px;
}
.dt-buttons {
  margin-top: 5px;
}
.filter-color-picker {
  width: 210px;
  border: 1px solid #ccc;
  height: 22px;
  padding: 4px;
}
.control-group.y-title,
.item-wrapper .control-group.x-title {
  margin-bottom: 0;
}
.control-group.y-title textarea,
.item-wrapper .control-group.x-title textarea {
  min-height: 60px;
}
.control-group.y-title-vars,
.item-wrapper .control-group.x-title-vars {
  margin-bottom: 0;
}
.control-group.y-title-vars select,
.item-wrapper .control-group.x-title-vars select {
  color: gray;
}
.control-group.y-title-vars option[value=""][disabled],
.item-wrapper .control-group.x-title-vars option[value=""][disabled] {
  display: none;
}
.control-group.y-title-vars option,
.item-wrapper .control-group.x-title-vars option {
  color: #000;
}
.control-group.y-title-help .controls,
.item-wrapper .control-group.x-title-help .controls {
  padding: 4px 10px;
  background-color: #ebebeb;
  border: solid 1px #ccc;
  font-size: 11px;
}
.control-group.y-title-help a,
.item-wrapper .control-group.x-title-help a {
  color: #187794;
}
.control-group.y-title-help pre,
.item-wrapper .control-group.x-title-help pre {
  word-break: normal;
}
.control-group.y-title-help .popover-content,
.item-wrapper .control-group.x-title-help .popover-content {
  word-break: normal;
}
@media (min-width: 1200px) {
  .wrap-btn-save-visualizations {
    z-index: 99999;
    position: fixed;
    top: 210px;
    right: 44px;
    text-align: right;
  }
  .wrap-btn-save-visualizations .btn.btn-success {
    margin: 0;
  }
  .public-query .item {
    position: relative;
    text-align: left;
    display: inline-block;
    float: left;
  }
  .public-query .item.has-filter.size-sm .c3 {
    max-height: 126px;
  }
  .public-query .item.has-filter.size-sm.square .c3 {
    max-height: 396px;
  }
  .public-query .item.has-filter.size-md .c3 {
    max-height: 376px;
  }
  .public-query .item.has-filter.size-md.vertical .c3 {
    max-height: 936px;
  }
  .public-query .item.has-filter.size-lg .c3 {
    max-height: 376px;
  }
  .public-query .item.has-filter.size-lg.square .c3 {
    max-height: 936px;
  }
  .public-query .item.has-filter.size-lg.vertical .c3 {
    max-height: 936px;
  }
  .public-query .item.size-sm {
    width: calc(31.8047619%);
    height: 250px;
  }
  .public-query .item.size-sm.double {
    width: calc(65.13809524%);
  }
  .public-query .item.size-sm.square {
    height: 520px;
  }
  .public-query .item.size-sm.vertical {
    height: 1060px;
  }
  .public-query .item.size-sm.wide {
    clear: both;
    width: calc(98.47142857%);
  }
  .public-query .item.size-md {
    width: calc(73.47142857%);
    height: 520px;
  }
  .public-query .item.size-md.vertical {
    height: 1060px;
  }
  .public-query .item.size-lg {
    width: calc(48.47142857%);
    height: 520px;
  }
  .public-query .item.size-lg.square {
    width: calc(65.13809524%);
    height: 1060px;
  }
  .public-query .item.size-lg.vertical {
    height: 1060px;
  }
  .public-query .item.size-xl {
    clear: both;
    width: calc(98.47142857%);
    height: 520px;
  }
}
@media (min-width: 980px) {
  .masthead {
    padding-top: 10px;
  }
  .masthead .nav-collapse {
    float: none;
  }
  .masthead .navigation.default-menu {
    float: right;
  }
  .preview-wrapper {
    margin-left: 20px;
  }
}
@media (max-width: 1199px) {
  .masthead .site-search input {
    width: 10px;
  }
  .masthead .site-search input::-webkit-input-placeholder {
    color: #fff;
  }
  .masthead .site-search input::-moz-placeholder {
    color: #fff;
  }
  .masthead .site-search input::-ms-input-placeholder {
    color: #fff;
  }
  .masthead .site-search input::placeholder {
    color: #fff;
  }
  .public-query .image img {
    width: 100%;
    height: auto;
  }
}
@media (min-width: 768px) {
  .visualization-fields-section {
    padding-left: 60px;
  }
}
@media (max-width: 979px) {
  .dataTables_wrapper .dataTables_filter,
  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dt-buttons {
    text-align: left;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .masthead .btn-navbar {
    background-color: #292929;
  }
  .masthead .btn-navbar.active,
  .masthead .btn-navbar:focus,
  .masthead .btn-navbar:hover {
    background-color: #5c5c5c;
  }
  .btn-navbar {
    margin: 10px 0;
  }
  .toolbar {
    margin-bottom: 0;
  }
  .toolbar .breadcrumb .home {
    display: inline-block;
  }
  .masthead .navigation {
    float: none;
  }
  .masthead .navigation .nav-pills {
    margin-bottom: 20px;
  }
  .public-query .container-chart {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
  }
  .size-lg.chart .item-content {
    height: 500px !important;
  }
  .public-query .item.chart {
    margin-right: 0;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .public-query .item {
    margin-left: 0 !important;
  }
  .public-query .item-content.c3 {
    min-height: 460px;
  }
  .public-query .c3-title {
    font-size: 12px !important;
  }
  .public-query .visualizations {
    padding-right: 0 !important;
  }
  .c3-axis-y text {
    font-size: 8px;
    font-weight: 300;
  }
  .c3-axis-x text {
    font-size: 9px;
    font-weight: 300;
  }
}
@media (max-width: 767px) {
  .container-wrapper {
    background: 0 0;
  }
}
@media (max-width: 767px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar-static-top {
    margin-left: 0;
    margin-right: 0;
  }
  .new_toolbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .new_toolbar .search-reports {
    margin-left: 25px;
    margin-right: auto;
  }
  .new_toolbar .search-reports .field-sitewide-search {
    width: 210px;
  }
  .new_toolbar .embed-navbar-items {
    margin-left: 0;
    margin-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
body {
  background-image: none;
  background-color: #fff;
}
.map-info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 200px;
  line-height: 125%;
}
.map-info h4 {
  margin: 0 0 3px;
  color: #777;
}
.legend {
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  list-style: none;
  padding: 10px;
}
.legend li {
  line-height: 18px;
}
.legend span {
  width: 16px;
  height: 16px;
  float: left;
  margin-right: 8px;
  border: 1px solid #969696;
}
.accordion-heading {
  background-color: #e8e8e8;
}
.accordion-group {
  background-color: #fff;
}
.accordion-toggle:after {
  font-family: FontAwesome;
  content: "\f078";
  float: right;
}
.accordion-opened .accordion-toggle:after {
  content: "\f077";
}
.c3-axis-y text {
  font-size: 11px;
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
  letter-spacing: -0.2px;
}
.c3-axis-x text {
  font-size: 11px;
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
  letter-spacing: -0.2px;
}
.text-lowercase {
  text-transform: lowercase;
}
.main,
[role="main"] {
  background: #fff;
  min-height: 80vh;
}
.box {
  border: 0 !important;
}
.applicaitons-box {
  border-bottom: 1px solid #bfbfbf;
  margin-bottom: 20px;
}
.applicaitons-box .thumb {
  display: inline-block;
  float: left;
}
.applicaitons-box .content-box {
  float: left;
  width: 80%;
  margin-left: 15px;
}
.applicaitons-box .content-box h2 {
  margin-top: 0;
}
.applicaitons-box ul {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.applicaitons-box ul li {
  display: inline;
}
.query-item ul {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.query-item ul li {
  padding: 0;
  display: inline;
}
.applicaitons-box:last-child {
  border-bottom: 0;
}
.group-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.group-list-item {
  border-bottom: 1px solid #bfbfbf;
  padding-bottom: 20px;
  padding-top: 10px;
}
.group-image {
  width: 100px;
  height: 60px;
  float: left;
  text-align: center;
  margin-right: 20px;
}
.group-image img {
  max-width: 100% !important;
  max-height: 100% !important;
  margin: 0 auto !important;
}
.tool-title {
  margin: 0 0 20px 0 !important;
}
.show-read-more .more-text {
  display: none;
}
.group-image-2 {
  width: 100px;
  height: 60px;
  margin-left: 10px;
  padding-right: 20px;
  float: none;
}
.group-image-2 img {
  max-width: 100% !important;
  max-height: 100% !important;
  margin: 0 auto !important;
}
.query-btn {
  display: block;
  margin-top: 20px;
}
.wrapper {
  border: 0;
}
.wrapper .row1 {
  margin-top: 10px;
  margin-bottom: 0;
}
.wrapper .homepage-box {
  margin: 0;
}
.plotly .xtick {
  font-weight: 700 !important;
}
.plotly
  .legend
  .scrollbox
  .groups
  .traces
  .layers
  .legendsymbols
  .legendpoints
  .pointtext {
  display: none !important;
}
.imgBtn {
  margin-top: 10px !important;
  padding: 12px 15px !important;
  float: right !important;
}
.textbox_desc {
  width: 400px;
}
.textbox_dropdown {
  width: 415px;
}
.textbox_info {
  width: 393px !important;
}
.line-row {
  padding-bottom: 13px;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
}
.line-row select {
  width: 150px;
}
.line_type_label {
  width: 120px;
}
#chart_field_line_type_1_1,
.custom_chart_select {
  margin-right: 10px;
  width: 120px;
}
.line-width-type select {
  margin-right: 10px;
  width: 120px;
}
.header-labels {
  text-align: right;
}
.header-labels #lbl-1 {
  text-align: left;
  width: 128px;
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 700;
}
.header-labels #lbl-2 {
  text-align: left;
  width: 130px;
  display: inline-block;
  font-weight: 700;
}
.ch-width {
  width: 65%;
}
.custom-footer .supporters .logo {
  height: 30px;
}
.custom-footer .logo-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.custom-footer .footer-markdown h1 {
  margin: 0;
  font-size: 15px;
}
footer .copyright {
  text-align: center;
  margin: 0 60px;
}
@media (max-width: 767px) {
  footer {
    margin-left: -20px;
    padding: 0 !important;
  }
  .custom-footer {
    grid-auto-flow: row;
    grid-template-rows: auto;
    padding: 10px 20px;
  }
  .custom-footer > div:nth-child(n + 3) {
    text-align: left;
  }
  .custom-footer .supporters {
    margin-left: 0;
  }
  .custom-footer .supporters .attribution {
    margin-left: 0;
    margin-right: 20px;
  }
  .custom-footer .social-media img {
    margin-left: 0;
    margin-right: 10px;
  }
}
form.custom-lang-select {
  width: 200px;
}
.custom-lang-select .select2-container {
  width: 200px;
  height: 30px;
}
.mobile form.custom-lang-select {
  float: left;
  margin: 15px 0 0 5px;
}
@media (min-width: 990px) {
  .mobile {
    display: none;
  }
  .screen {
    display: block;
  }
}
@media (max-width: 989px) {
  .mobile {
    display: block;
  }
  .screen {
    display: none;
  }
}
.container-admin-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  width: 90%;
}
.column-social,
.column-social-selected {
  padding: 5px;
  border-radius: 6px;
  width: 50%;
  border: #cfcfcf 2px solid;
  background-color: #fbfbfb;
}
.list-group-item {
  background: #fff;
  margin: 5px;
  padding: 15px;
  border-radius: 5px;
  height: auto;
  cursor: pointer;
  border: #cfcfcf 3px solid;
  text-align: center;
}
.list-group-img {
  padding-right: 5px;
}
.social-options-text, .social-selected-text {
  text-align: center;
  user-select: none;
  pointer-events: none;
}
.container-admin-social {
  margin: auto;
}
.info-block-social {
  margin: auto !important;
  text-align: center;
  width: 100%;
  color: #444;
  font-size: small;
}
.social-arrow {
  height: 100%;
  position: relative;
  top: 50%;
  margin: auto;
  font-size: 2em;
}
#report-search-box {
  margin: auto;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.embed-hide {
  display: none;
}
.embed-show {
  display: none;
}
.mb-20 {
  margin-bottom: 20px !important;
}

.pb-4 {
  padding-bottom: 1rem;
}

.bg-white {
  background-color: #fff;
}

.report-group-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.orphan-label {
  margin-right: 5px;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.gap-x-4 {
  gap: 1rem;
}

#field-sitewide-search {
  /*padding-top: 0rem;
  padding-bottom: 0rem;*/
  font-size: 14px;
  border: 1px solid #cccccc;
}

.report-search-sort {
  background-color: #ffffff;
  cursor: pointer;
}

.control-order-by {
  margin-right: 10px;
  background-image: none !important;
  box-shadow: unset !important;
  border: unset !important;
  padding-right: 0px !important;
  margin-right: 0px !important;
}

.site-search .btn:hover {
  background-color: transparent;
  color: black;
}

.masthead .main-navbar ul li:hover a {
  background-color: transparent;
}

.border-b-gray {
  border-bottom: 1px solid #dee2e6;
}

.nav-tabs > .active > a {
  color: #555555;
  background-color: #eeeeee;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}

.w-full {
  width: 100%;
}

:not(.btn-primary).btn:not(.btn-danger).btn {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#ffffff),
    to(#eaeaea)
  );
  background-image: -webkit-linear-gradient(top, #ffffff, #eaeaea);
  background-image: -o-linear-gradient(top, #ffffff, #eaeaea);
  background-image: linear-gradient(to bottom, #ffffff, #eaeaea);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffeaeaea',GradientType=0);
  border-color: #eaeaea #eaeaea #c4c4c4;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-minimal:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #0047d4;
  background-image: none;
  color: #fff;
}

.bg-no-image {
  background-image: none;
}

.nav-tabs > .active > a {
  color: #555555 !important;
  background-color: #eeeeee !important;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}

.grid {
  display: grid;
}

.grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.span4 img {
  width: 100%;
  height: auto;
}

.flex {
  display: flex;
}

.gap-2 {
  gap: 0.5rem;
}

.list-none {
  list-style: none;
}

.p-0 {
  padding: 0;
}

.flex-wrap {
  flex-wrap: wrap;
}

.container.content {
  margin-top: 30px;
}

.button-admin-upload.hover {
  background-color: #0047d4;
  background-position: 0 -30px !important;
}

.btn-default {
  background-color: #f7f7f7;
  color: #333;
}

.js .image-upload .btn.hover {
  background-color: #0047d4;
  color: #fff;
  background-position: 0 -30px !important;
  background-image: none;
  transition: unset;
  filter: brightness(100%) !important;
}

.btn-remove-url {
  background-color: #cf0000 !important;
  color: #fff !important;
  background-image: none !important;
}

.btn-danger:hover {
  background-color: #b30000 !important;
}

.controls .btn-default:hover {
  background-color: #0047d4 !important;
}

:not(.btn-primary).btn:not(.btn-danger).btn:hover {
  filter: brightness(85%);
}

.short-desc + [data-readmore-toggle],
.short-desc[data-readmore] {
  display: block;
  width: 100%;
}
.short-desc[data-readmore] {
  transition: height 100ms;
  overflow: hidden;
}

.group-box .thumbnail {
  float: left;
  padding-right: 25px;
}

.thumbnail {
  display: block;
  margin: 10px auto;
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
