
{% resource 'querytool/css/admin-query-tool.css' %}
{% extends "querytool/admin/base.html" %}
{% set ctrl = 'ckanext.querytool.controllers.querytool:QueryToolController' %}

{% block subtitle %}{{ _('Queries') }}{% endblock %}


{% block breadcrumb_content %}
  <li class="active">{% link_for _('Application Groups'), controller=ctrl, action='groups' %}</li>
{% endblock %}

{% block page_header %}
{% endblock %}

{% block page_primary_action %}
  {% if h.check_access('querytool_update') %}
    {% link_for _('Add New Application'), controller=ctrl, action='querytool_edit', querytool='', class_='btn btn-primary', icon='plus-square' %}
  {% endif %}
{% endblock %}


{% block primary_content_inner %}

  <div class="row">
    {% set tools = h.querytool_get_groups() %}
    {% for group in tools %}
      {% set url = h.url_for('querytool_list_by_group', group=group.name) %}
      <div class="span4 media-item admin-groups">
        <img src="{{group.image_display_url}}" alt="{{ value }}" class="media-image">
        <h3 class="media-heading">{{ group.title }}</h3>
        <a href="{{ url }}" title="{{ group.title }}" class="media-view">
          <span>{{ group }}</span>
        </a>
      </div>
    {% endfor %}

  {% set other_groups = h.url_for('querytool_list_other') %}
    <div class="span4 media-item admin-groups">
      <img src="{{ h.url_for_static('/base/images/query-icon.png') }}" alt="{{ _('Other') }}" class="media-image">
      <h3 class="media-heading">{{ _('Other') }}</h3>
      <a href="{{ other_groups }}" title="{{  _('Other') }}" class="media-view">
        <span>{{  _('Other') }}</span>
      </a>
    </div>
  </div>

{% endblock %}

