{% asset 'querytool/vendor/dragula/dragula.css' %}
{% asset 'querytool/vendor/dragula/dragula.js' %}
{% asset 'querytool/css/admin-query-tool.css' %}

{% extends "querytool/admin/base.html" %}

{% set ctrl = 'ckanext.querytool.controllers.querytool:QueryToolController' %}

{% block subtitle %}{{ _('Manage Visualizations') }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('Reports Folders'), controller=ctrl, action='groups' %}</li>
{% endblock %}

{% block page_header %}
{% endblock %}


{% block primary_content_inner %}
  {% snippet 'querytool/admin/snippets/edit_visualizations_form.html', n='', data=data, errors= errors%}
{% endblock %}
