{% extends "querytool/admin/base.html" %}
{% set ctrl = 'ckanext.querytool.controllers.querytool:QueryToolController' %}
{% block styles %}
  {{ super() }}
  {% resource 'querytool/css/query-tool.css' %}
{% endblock %}

{% block subtitle %}{{ _('Queries') }}{% endblock %}


{% block breadcrumb_content %}
  <li class="active">{% link_for _('Queries'), controller=ctrl, action='list' %}</li>
{% endblock %}

{% block page_header %}
{% endblock %}

{% block page_primary_action %}
  {% if h.check_access('querytool_update') %}
    <div class="page_primary_action">
      {% link_for _('Create Query'), controller=ctrl, action='querytool_edit', querytool='', class_='btn btn-primary', icon='plus-square' %}
    </div>
  {% endif %}
{% endblock %}


{% block primary_content_inner %}
  {% for querytool in data %}
       {% snippet 'querytool/admin/snippets/query_tools.html', querytool=querytool %}
  {% endfor%}
{% endblock %}
