{% extends "querytool/admin/base.html" %}
{% set ctrl = 'ckanext.querytool.controllers.querytool:QueryToolController' %}

{% block subtitle %}{{ _('New Interactive Report') }}{% endblock %}


{% block breadcrumb_content %}
  <li>{% link_for _('Reports Folders'), controller=ctrl, action='groups' %}</li>

  {% if c.group %}
    <li class="active">{% link_for c.group, controller=ctrl, action='list_by_group', group=c.group %}</li>
  {% else %}
    <li class="active">{% link_for _('Other'), controller=ctrl, action='list_other' %}</li>
  {% endif %}


{% endblock %}

{% block page_header %}
{% endblock %}

{% block page_primary_action %}
  {% if h.check_access('querytool_update') and h.get_is_admin_or_editor_of_any_group(c.userobj) %}
    {% link_for _('New Report'), controller=ctrl, action='querytool_edit', querytool='', class_='btn btn-primary', icon='plus-square' %}
  {% endif %}
{% endblock %}


{% block primary_content_inner %}
  <legend>{{ _('Main') }}</legend>
  {% for querytool in data %}
    {% if querytool.type == 'main' %}
      {% snippet 'querytool/admin/snippets/query_tools.html', querytool=querytool %}
    {% endif %}
  {% endfor%}
  <legend>{{ _('Related') }}</legend>
  {% for querytool in data %}
    {% if querytool.type == 'related' %}
      {% snippet 'querytool/admin/snippets/query_tools.html', querytool=querytool %}
    {% endif %}
  {% endfor%}
{% endblock %}
