{% extends "querytool/admin/base.html" %}
{% set ctrl = 'ckanext.querytool.controllers.querytool:QueryToolController' %}

{% block subtitle %}{{ _('Queries') }}{% endblock %}


{% block breadcrumb_content %}
  <li class="active">{% link_for _('Application Groups'), controller=ctrl, action='groups' %}</li>
{% endblock %}

{% block page_header %}
{% endblock %}

{% block page_primary_action %}
  {% if h.check_access('querytool_update') %}
    {% link_for _('Add New Application'), controller=ctrl, action='querytool_edit', querytool='', class_='btn btn-primary', icon='plus-square' %}
  {% endif %}
{% endblock %}


{% block primary_content_inner %}

  <div class="row">
    {% for group in h.querytool_get_groups() %}
    {% set url = h.url_for('querytool_list_by_group', group=group) %}
      <div class="span4">
        <a class="query-tool box" href="{{ url }}">
        <img class="thumbnail" src="/base/images/query-icon.png" alt="{{ group }}">
        <span class="tool-title">{{ group }}</span>
        <span class="btn btn-primary btn-box" role="button">{{ _('List Applications') }}</span>
        </a>
      </div>
    {% endfor %}
    {% set other_groups = h.url_for('querytool_list_other') %}
      <div class="span4">
        <a class="query-tool box" href="{{ other_groups }}">
        <img class="thumbnail" src="/base/images/query-icon.png" alt="Other">
        <span class="tool-title">{{ _('Other') }}</span>
        <span class="btn btn-primary btn-box" role="button">{{ _('List Applications') }}</span>
        </a>
      </div>
  </div>

{% endblock %}
