{% extends "page.html" %}

{% set ctrl = 'ckanext.querytool.controllers.querytool:QueryToolController' %}

{% block subtitle %}{{ _('Query Tool Manage') }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('Query Tool'), controller=ctrl, action='show' %}</li>
  <li class="active">{% link_for _('Manage'), controller=ctrl, action='edit' %}</li>
{% endblock %}

{% block content_action %}
  {# {% if h.check_access('querytool_edit') %} #}
    {% link_for _('View'), controller=ctrl, action='show', class_='btn', icon='eye' %}
  {# {% endif %} #}
{% endblock %}

{% block primary_content_inner %}
 {# Add all this fields in new snippet #}
   <form method="post" action="{{ '' }}"class="form-horizontal col-sm-12" id="email-body-form">

  <div class="control-group control-medium">

    <label class="control-label" for="query_tool_title">{{_('Title')}}</label>
    <div class="controls">
      <input id="query_tool_title" name="query_tool_title" type="text" value="{{data.title}}">
      <p class="help-block"></p>
    </div>
  </div>

 <div class="control-group control-medium">

    <label class="control-label" for="query_tool_description">{{_('Description')}}</label>
    <div class="controls">
      <input id="query_tool_description" name="query_tool_description" type="text" value="{{data.description}}">
      <p class="help-block"></p>
    </div>
  </div>

     <div class="form-actions">
        <button type="submit" class="btn btn-primary" name="save">{{ _('Create query') }}</button>
    </div>
   </form>
{% endblock %}

{% block secondary_content %}
  {% snippet "querytool/admin/snippets/helper.html" %}
{% endblock %}