{% extends "page.html" %}

{% set ctrl = 'ckanext.querytool.controllers.querytool:QueryToolController' %}

{% block subtitle %}{{ _('Query Tool Manage') }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('Query Tool'), controller=ctrl, action='show' %}</li>
  <li class="active">{% link_for _('Manage'), controller=ctrl, action='edit' %}</li>
{% endblock %}

{% block content_action %}
  {# {% if h.check_access('querytool_edit') %} #}
    {% link_for _('View'), controller=ctrl, action='show', class_='btn', icon='eye' %}
  {# {% endif %} #}
{% endblock %}

{% block primary_content_inner %}
  {{msg}}
{% endblock %}

{% block secondary_content %}
  {% snippet "querytool/admin/snippets/helper.html" %}
{% endblock %}