@import "inc/variables.less";
@import "inc/mixins.less";

span.grippy {
  position: absolute;
  top: 50%;
  content: '....';
  left: @grid-gutter-width/2;
  width: @grid-gutter-width/2;
  height: @grid-gutter-width;
  display: inline-block;
  overflow: hidden;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
  font-size: @base-font-size;
  line-height: @grid-gutter-width/4;
  padding: @grid-gutter-width/4;
  margin-top: -@grid-gutter-width/2;
  vertical-align: middle;
  letter-spacing: 2px;
  color: @color-neutral-light;
  text-shadow: 1px 0 1px black;
}

span.grippy::after {
  content: '.. .. .. ..';
}

span.grippy.cursor-grabbing {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
