.btn {
  background-image: none;
  border-radius: 0;
}

.btn-primary {
  background-color: @color-primary;
  &:focus {
    background-color: @color-primary;
  }
  &:hover {
    background-color: @color-primary-dark;
  }
}

.btn-danger {
  background-color: rgb(207, 0, 0);
}

.btn-success {
  background-color: rgb(0, 200, 83);
}

.btn,
label {
  font-weight: 400;
}
