.site-footer,
body {
    background-color: @vs-color-blue;
}

.site-footer,
.site-footer label,
.site-footer small {
    color: rgba(255, 255, 255, 0.6);
}

.site-footer a {
    color: rgba(255, 255, 255, 0.6);
}