@import "header.less";
@import "buttons.less";
@import "footer.less";
@import "variables.less";

.chart-fields-section {
  border: 1px solid #CCCCCC !important;
  padding:5px;
  margin-bottom: 5px;
  position: relative;
}
