@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');

@import "variables.less";
@import "mixins.less";
@import "toolbar.less";
@import "layout.less";
@import "masthead.less";
@import "navigation.less";
@import "buttons.less";
@import "footer.less";
@import "form.less";
@import "responsive.less";

.chart-fields-section {
  border: 1px solid #CCCCCC !important;
  padding: 5px;
  margin-bottom: 5px;
}
