@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,700,700i');
@import "inc/variables.less";
@import "inc/mixins.less";
@import "inc/responsive.less";
body {
  background: @color-primary-dark;
}

.container-wrapper {
  background: linear-gradient(fade(@color-primary, 80%), @color-primary-dark),
    url(/base/images/public-header-bg.png) top center no-repeat;
  background-size: 100%;
}

.public-filters {
  margin: 0;
}

.box-items {
  margin-bottom: @grid-gutter-width*4;
}

.box {
  text-align: center;
  opacity: 0.8;
  margin: @grid-gutter-width / 2;
  display: block;
  background-color: @color-white;
  padding: @grid-gutter-width*3 @grid-gutter-width*2;
  border-radius: 0;
  box-shadow: 0 2px 4px 0 fade(@color-black, 20%),
    0 6px 20px 0 fade(@color-black, 19%);
  color: inherit;
  transition: 200ms opacity ease-in-out;
  &:focus,
  &:hover {
    text-decoration: none;
    color: inherit;
  }
  &:hover {
    opacity: 1;
    box-shadow: 0px 8px 60px 0 fade(@color-black, 20%),
      0 10px 60px 0 fade(@color-black, 19%);
    .btn-box {
      background-color: @color-secondary-darker;
    }
    > .fa {
      color: @color-secondary;
    }
  }
}

.box-full-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: @grid-gutter-width*1.5 @grid-gutter-width*2;
  .thumbnail {
    margin: 0;
  }
  .tool-title {
    margin: 0 @grid-gutter-width;
  }
  .fa {
    color: @color-primary;
  }
}

.box-title {
  display: flex;
  align-items: center;
}

.page-header {
  color: @color-white;
  text-align: center;
  background: transparent;
  border-bottom: none;
  padding-bottom: 0;
  margin: @grid-gutter-width*3 0;
  text-align: left;
  h1 {
    margin-top: 0;
    font-size: 2.5rem;
    text-align: center;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.3rem;
  }
  h5 {
    font-size: 1.2rem;
  }
  h6,
  p {
    font-size: @base-font-size + 2;
  }
}

.querytool-title {
  color: @color-white;
  font-weight: 400;
  font-size: @base-font-size * 3;
  margin: 0;
  line-height: 1.2;
}

.short-desc {
  display: block;
  margin: @grid-gutter-width 0 @grid-gutter-width*1.5;
}

.btn-box {
  transition: 200ms background-color ease-in-out;
  background-color: @color-secondary;
  border-radius: 0px;
  border: none;
  padding: @grid-gutter-width / 2 (@grid-gutter-width + @grid-gutter-width / 2);
  font-size: @base-font-size + 2px;
  font-weight: 400;
}

.list-group-boxes {
  padding: 0px 200px 0px 200px;
}

.thumbnail {
  display: block;
  margin: @grid-gutter-width / 2 auto;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.tool-title {
  display: block;
  font-weight: 500;
  margin: @grid-gutter-width 0;
  font-size: @base-font-size + 8px;
  color: @color-primary;
}

.list-headline {
  color: @color-primary;
  font-size: 24px;
}

.arrow-icon {
  position: absolute;
  right: 35px;
  opacity: 0.6;
}

.arrow-icon:hover {
  opacity: 1;
}

.folder-icon {
  margin-right: 10px;
}

.icon-tittle {
  display: flex;
  justify-content: center;
}

.cause-menu {
  background-color: @color-secondary;
  width: 80vw;
  height: 90px;
  margin: auto;
  margin-bottom: 200px;
}

#cause-selectors {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.btn-select {
  border-radius: 0px;
  padding: 10px 15px 10px 50px;
  border-color: transparent;
  margin-top: 2px;
}

.btn .caret {
  margin-left: 40;
}

.causes-tittle {
  color: @color-white;
  font-size: 1.2rem;
  letter-spacing: 0.15rem;
}

.arrow-icon-steps {
  margin: auto;
}

// Public queries UI
.public-query-header {
  padding: @grid-gutter-width 0;
  min-height: @grid-gutter-width*5;
  h1 {
    font-weight: 700;
  }
  .desc {
    padding: @grid-gutter-width;
    background-color: fade(@color-primary-dark, 60%);
  }
}

.public-query {
  padding: 0;
  .controls {
    margin: 0 0 @grid-gutter-width/2;
    form {
      margin-bottom: 0;
    }
    .filters-wrap{
      box-shadow: inset 0 0 @grid-gutter-width*5 rgba(0, 0, 0, 0.5);
      padding: @grid-gutter-width;
    }
    .buttons{
      padding: @grid-gutter-width @grid-gutter-width*2.5;
      background: linear-gradient(fade(@color-primary, 90%), fade(@color-primary, 0%));
    }
  }
  .leaflet-map-pane {
    z-index: 0;
  }
  .flex {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .filters {
    display: flex;
    flex-wrap: wrap;
    flex: 3 1 auto;
    padding: 0 @grid-gutter-width/2;
    .fa {
      align-self: center;
      margin: auto @grid-gutter-width;
      position: relative;
      color: @color-white;
    }
  }
  .filter-item {
    border-color: transparent;
  }

  .filter-group-wrapper {
    align-self: center;
    display: flex;
  }
  .filter-group {
    display: inline-flex;
    flex-direction: column;
    margin-top: @grid-gutter-width / 2;
    margin-bottom: @grid-gutter-width / 2;
    padding: @grid-gutter-width / 2;
    border-radius: @grid-gutter-width/4;
    > select{
      margin-bottom: 0;
    }
    label {
      display: block;
      color: @color-white;
      padding: 0 @grid-gutter-width / 2 (@grid-gutter-width / 4 + 2px);
      margin-bottom: 0;
    }
  }
  .filter-y {
    flex-basis: auto;
    margin-left: auto;
    color: @color-white;
    background: fade(@color-info, 70%);
    border-radius: @grid-gutter-width/4;
  }
  .actions {
    flex-shrink: 0;
    position: static;
    display: flex;
    align-self: center;
    justify-content: center;
    top: auto;
    right: auto;
    li {
      margin: auto;
      display: block;
    }
    .btn {
      border-color: transparent;
      border-radius: 0;
    }
  }
  .visualizations {
    box-sizing: border-box;
    max-width: calc(100% - @visualization-grid-gutter);
    margin: 0 auto;
    text-align: center;
    overflow: auto;
    padding: 0 @grid-gutter-width @grid-gutter-width 0;
    .filter-item {
      margin-bottom: 0;
      background-color: darken(@color-neutral-pale, 5%);
    }
    .filter-group-wrapper {
      display: block;
      margin-bottom: 15px;
    }
    .filter-group {
      display: block;
      padding: 0;
      margin-top: 0;
    }
    .has-filter{
        label{
          color: inherit;
      }
    }
  }
  .item {
    box-sizing: border-box;
    margin: @grid-gutter-width/2;
    position: relative;
    background-color: @color-white;
    margin: @grid-gutter-width 0 0 @grid-gutter-width;
    padding: @grid-gutter-width;
    overflow-y: auto;
    word-wrap: break-word;
    &.image,
    &.map {
      padding: 0;
    }
    .dataTable;
    &.image {
      overflow-y: hidden;
      .item-content {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        height: 100%;
      }
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
    &.text_box {
      background: transparent;
      color: @color-white;
    }
  }
  .item-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      line-height: 1.25;
    }
    &.leaflet-container,
    &.c3 {
      width: 100%;
      height: 100%;
    }
  }
  .map-filter,
  .table-filter {
    margin: 10px 10px;
    width: 100%;
  }
}
.toolbar {
  .breadcrumb {
    margin: @grid-gutter-width/2 @grid-gutter-width;
    a {
      text-shadow: none;
      color: @color-neutral-light;
    }
  }
  .active {
    a {
      color: @color-white;
    }
  }
}

.c3 svg {
    font-family: "Roboto Condensed", sans-serif !important;
    font-weight: 300 !important;
}
.c3-title {
    font-family: "Roboto Condensed", sans-serif !important;
    font-weight: 300 !important;
}

.c3-axis-x,
.c3-axis-y{
  font-weight: 700;
}
