@import "inc/variables.less";
@import "inc/mixins.less";
@import "inc/responsive.less";
body {
  background: @color-primary-dark;
}

.container-wrapper {
  background: linear-gradient( fade(@color-primary, 80%), @color-primary-dark), url(/base/images/public-header-bg.png) top center no-repeat;
  background-size: 100%;
  margin-bottom: @grid-gutter-width*3;
}

.box {
  text-align: center;
  opacity: 0.95;
  margin: @grid-gutter-width/2;
  display: block;
  background-color: @color-white;
  padding: @grid-gutter-width*3 @grid-gutter-width*2;
  border-radius: 0;
  box-shadow: 0 2px 4px 0 fade(@color-black, 20%), 0 6px 20px 0 fade(@color-black, 19%);
  color: inherit;
  transition: 200ms opacity ease-in-out;
  &:focus,
  &:hover {
    text-decoration: none;
    color: inherit;
  }
  &:hover {
    opacity: 1;
    box-shadow: 0px 8px 60px 0 fade(@color-black, 20%), 0 10px 60px 0 fade(@color-black, 19%);
    .btn-box {
      background-color: @color-secondary-darker;
    }
    >.fa {
      color: @color-secondary;
    }
  }
}

.box-full-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: @grid-gutter-width*1.5 @grid-gutter-width*2;
  .thumbnail {
    margin: 0;
  }
  .tool-title {
    margin: 0 @grid-gutter-width;
  }
  .fa {
    color: @color-primary;
  }
}

.box-title {
  display: flex;
  align-items: center;
}

.page-header {
  text-align: center;
  background: transparent;
  border-bottom: none;
  margin: @grid-gutter-width*3 0;
  .desc {
    color: @color-masthead-links;
    margin-bottom: 0;
    font-size: @base-font-size + 1px;
  }
}

h1 {
  color: @color-white;
  font-weight: 400;
  font-size: @base-font-size * 3;
  margin-top: 0;
  margin-bottom: @grid-gutter-width;
  line-height: 1.2;
}

.short-desc {
  display: block;
  margin: @grid-gutter-width 0 @grid-gutter-width*1.5;
}

.btn-box {
  transition: 200ms background-color ease-in-out;
  background-color: @color-secondary;
  border-radius: 0px;
  border: none;
  padding: @grid-gutter-width/2 (@grid-gutter-width + @grid-gutter-width/2);
  font-size: @base-font-size + 2px;
  font-weight: 400;
}

.list-group-boxes {
  padding: 0px 200px 0px 200px;
}

.thumbnail {
  display: block;
  margin: @grid-gutter-width/2 auto;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.tool-title {
  display: block;
  font-weight: 500;
  margin: @grid-gutter-width 0;
  font-size: @base-font-size + 8px;
  color: @color-primary;
}

.list-headline {
  color: @color-primary;
  font-size: 24px;
}

.arrow-icon {
  position: absolute;
  right: 35px;
  opacity: 0.6;
}

.arrow-icon:hover {
  opacity: 1;
}

.folder-icon {
  margin-right: 10px;
}

.icon-tittle {
  display: flex;
  justify-content: center;
}

.cause-menu {
  background-color: @color-secondary;
  width: 80vw;
  height: 90px;
  margin: auto;
  margin-bottom: 200px;
}

#cause-selectors {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.btn-select {
  border-radius: 0px;
  padding: 10px 15px 10px 50px;
  border-color: transparent;
  margin-top: 2px;
}

.btn .caret {
  margin-left: 40;
}

.causes-tittle {
  color: @color-white;
  font-size: 1.2rem;
  letter-spacing: 0.15rem;
}

.arrow-icon-steps {
  margin: auto;
}

// Public queries UI
.public-query-header {
  padding: @grid-gutter-width 0;
  min-height: @grid-gutter-width*5;
  h1 {
    font-weight: 700;
  }
  .desc {
    padding: @grid-gutter-width;
    background-color: fade(@color-primary-dark, 60%);
  }
}

.public-query {
  padding: 0;
  background: @color-white;
  .controls {
    background: @color-secondary;
    form {
      margin-bottom: 0;
    }
  }
  .flex {
    display: flex;
    align-items: stretch; // justify-content: flex-start;
    // Need to work on the responsiveness of this container more.
    flex-wrap: wrap;
  }
  .filters {
    flex: 1;
    margin: 0 @grid-gutter-width/2 @grid-gutter-width/2;
    .fa {
      align-self: center;
      margin: auto @grid-gutter-width/2;
      position: relative;
      top: @grid-gutter-width/4;
      color: @color-white;
    }
  }
  .filter-item {
    border-color: transparent;
  }
  .filter-group-wrapper {
    align-self: center;
    display: inline-flex;
  }
  .filter-group {
    display: inline-flex;
    flex-direction: column;
    margin-top: @grid-gutter-width/2;
    padding: @grid-gutter-width/2 @grid-gutter-width/2 0;
    label {
      display: block;
      background: @color-secondary-dark;
      color: @color-white;
      padding: (@grid-gutter-width/4 + 2px) @grid-gutter-width/2;
      margin-bottom: 0;
    }
  }
  .filter-y {
    flex-shrink: 0;
    display: flex;
    align-self: stretch;
    align-items: center;
    justify-content: space-between;
    color: @color-white;
    padding: @grid-gutter-width;
    background: @color-info;
    select {
      margin-bottom: 0;
    }
    label {
      margin-top: @grid-gutter-width/6;
      margin-right: @grid-gutter-width;
      font-weight: 700;
    }
  }
  .actions {
    flex-shrink: 0;
    position: static;
    align-self: center;
    margin: 0 @grid-gutter-width;
  }
  .visualizations {
    display: grid;
    grid-gap: @grid-gutter-width;
    grid-template-columns: repeat(auto-fit, minmax(@visualization-grid-base-size, 1fr));
    grid-auto-rows: minmax(@visualization-grid-base-size, auto);
    grid-auto-flow: dense;
    background-color: @color-neutral-pale;
    padding: @grid-gutter-width;
  }
  .item {
    position: relative;
    background-color: @color-white;
    padding: @grid-gutter-width;
    &.size-sm {
      grid-column: span 2;
      grid-row: span 1;
      &.square {
        grid-row: span 2;
      }
    }
    &.size-md {
      grid-column: span 4;
      grid-row: span 2;
      &.vertical {
        grid-row: span 6;
      }
    }
    &.size-lg {
      grid-column: span 8;
      grid-row: span 2;
      &.square {
        grid-column: span 4;
        grid-row: span 3;
      }
      &.vertical {
        grid-column: span 4;
        grid-row: span 8;
      }
    }
  }
  .item-content {
    min-height: 100%;
  }
}

.btn-filter-toggle {
  &.on {
    border-color: @color-success;
    background-color: @color-success;
  }
}

.download-charth-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  margin-top: 5px;
  margin-right: 2px;
}
