[custom render order]

main.css = 1
css/main.css = 10
css/admin-query-tool.css = 11
css/public-query-tool.css = 12

[groups]

map =
  vendor/leaflet/leaflet-src.js
  vendor/leaflet/leaflet.css
  javascript/modules/map-module.js

table =
  vendor/datatables/dataTables.js
  vendor/datatables/dataTables.css
  vendor/datatables/dataTables.buttons.js
  vendor/datatables/buttons.html5.js
  vendor/datatables/pdfmake.js
  vendor/datatables/vfs_fonts.js
  vendor/datatables/jszip.js
  javascript/modules/table-module.js

share =
  vendor/c3/c3.css
  vendor/c3/c3.js
  vendor/d3/d3.js
  vendor/save-svg-png.js
  javascript/modules/export-to-png.js
  javascript/modules/tool-embed.js
