.account-masthead {
  background-color: @color-primary-mid;
  .account {
    ul {
      li {
        border-left: 1px solid #a7a7a7;
        a {
          color: #2f2f2f;
          &:hover {
            color: @color-masthead-links-hover;
            background-color: @color-primary;
          }
        }
      }
    }
  }
}

.masthead {
  background-color: @color-light;
  height: auto;
  margin-bottom:30px;
  .navigation {
    .nav-pills {
      li {
        a {
          margin: 0;
          padding: @grid-gutter-width - 5;
          border-bottom: @nav-pills-border-size solid transparent;
          color:@color-black;
          font-weight: 500;
          &:hover {
            .nav-pills-hover(@nav-pills-border-size,
            fade(@color-secondary, 70%));
            color:rgba(0,0,0,0.7);
          }
        }
        &.active {
          a {
            .nav-pills-hover;
            color:rgba(0,0,0,0.7);
          }
        }
      }
    }
  }
  .site-search {
    float: right;
    margin-top: @grid-gutter-width/4;
  }
  .nav {
    >li {
      >a {
        color: @color-masthead-links;
      }
    }
  }
  #field-sitewide-search {
    .search-input-focus;
  }
}

.masthead input[type="text"] {
  border-color: #ababab;
}
