{% import 'macros/form.html' as form %}
{% set active_charts = chart %}
{% set main_filters = main_filters.split(',') %}
{% set y_axis_values = y_axis_values.split(',') %}
{% set columns = h.querytool_get_resource_columns(chart_resource, y_axis_values) %}
{% if chart and chart.filter_name %}
    {% set class = '' %}
{% else %}
{% set class = 'hidden' %}
{% endif %}

{% for item in y_axis_values %}
    {% do main_filters.append(item) %}
{% endfor %}
{% set chart_filters = h.querytool_get_resource_columns(chart_resource, main_filters) %}
{% set numeric_columns = h.querytool_get_numeric_resource_columns(chart_resource) %}

<div id="chart_field_{{ n }}" class="item chart_field visualization-fields-section">
  {% set chart_types = h.querytool_get_chart_types() %}
  <div class="item-wrapper">
    {% set chart_id = h.querytool_get_uuid() %}
    <div class="accordion" id="accordion_{{ chart_id }}">

      {# General #}
      <div class="accordion-group">
        <div class="accordion-heading accordion-opened">
          <a href="#accordion_{{ chart_id }}_general" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_{{ chart_id }}">
            {{ _('General') }}
          </a>
        </div>
        <div id="accordion_{{ chart_id }}_general" class="accordion-body collapse in">
          <div class="accordion-inner">

            
            {# Type #}
            {% if chart %}
              {% set selected_chart_type = chart.graph %}
            {% else %}
              {% set selected_chart_type = chart_types[0].value %}
            {% endif %}
            {{ form.select('chart_field_graph_' ~ n, label=_('Type'), options=chart_types, selected=selected_chart_type) }}

            {# Dimension #}
            <div class="control-group control-select">
              <label class="control-label" for="chart_field_axis_x_{{ n }}">{{ _('Dimension') }}</label>
              <div class="controls ">
                <select id="chart_field_axis_x_{{ n }}" name="chart_field_axis_x_{{ n }}">
                  {% for column in columns %}
                  <option value="{{column}}"{% if chart %}{{ 'selected' if column == chart.x_axis }}{% endif %}>{{column}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            {# Category #}
            {% if selected_chart_type in ['sbar', 'shbar', 'donut', 'pie'] %}
              {% set category_option = true %}
            {% else %}
              {% set category_option = false %}
            {% endif %}
            <div class="control-group control-select">
              <label class="control-label" for="chart_field_category_name_{{ n }}">{{ _('Category') }}</label>
              <div class="controls ">
                <select id="chart_field_category_name_{{ n }}" name="chart_field_category_name_{{ n }}" {{'disabled' if category_option else ''}}>
                  <option value="">&mdash; {{ _('Select column') }} &mdash;</option>
                  {% for category in columns %}
                  <option value="{{ category }}"{% if chart %}{{ 'selected' if category == chart.category_name }}{% endif %}>{{ category }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            {# Size #}
            {% set sizes = h.querytool_get_visualization_size() %}
            <div class="control-group control-select">
              <label class="control-label" for="chart_field_size_{{ n }}">{{ _('Size') }}</label>
              <div class="controls ">
                <select id="chart_field_size_{{ n }}" name="chart_field_size_{{ n }}">
                  {% for size in sizes %}
                  <option value="{{ size.value }}" {% if chart %}{{ 'selected' if size.value == chart.size }}{% endif %} >{{ size.text }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            {# Color #}
            {% set color_schemes = h.querytool_get_color_scheme() %}
            <div class="control-group control-select">
              <label class="control-label" for="chart_field_color_{{ n }}">{{ _('Color') }}</label>
              <div class="controls ">
                <select id="chart_field_color_{{ n }}" name="chart_field_color_{{ n }}">

                  <optgroup label="Single Color">
                  {% for color in color_schemes %}
                  <option value="{{ color.value }}" {% if chart %}{{ 'selected' if color.value == chart.color }}{% endif %}>{{ color.text }}</option>
                  {% endfor %}
                  </optgroup>
                  
                  <optgroup label="Diverging">
                  {% set color_schemes_diverging = h.querytool_get_map_color_scheme() %}
                  {% for color_diverging in color_schemes_diverging %}
                    <option value="{{ color_diverging.value }}" {% if chart %}{{ 'selected' if color_diverging.value == chart.color }}{% endif %}>{{ color_diverging.text }}</option>
                  {% endfor %}
                  </optgroup>

                </select>
              </div>
            </div>

            {# Title #}
            {% if chart %}
              {% set chart_title = chart.title %}
            {% endif %}
            <div class="control-group title">
              <label class="control-label" for="chart_field_title_{{ n }}">{{ _('Title') }}</label>
              <div class="controls ">
                <textarea id="chart_field_title_{{ n }}" name="chart_field_title_{{ n }}" placeholder="{{ _('Chart title') }}" rows="3">{{ chart_title }}</textarea>
              </div>
            </div>
            <div class="control-group title-vars">
              <div class="controls ">
                {% set filters = h.querytool_parse_json(info_query_filters or '[]') %}
                {% set filters = filters|sort(attribute='order') %}
                <select>
                  <option value="" disabled selected>{{_('Add variable to title')}}</option>
                  <optgroup label="{{_('Capitalized')}}">
                    <option value="{measure|capitalize}">{{_('Measure')}}</option>
                    {% for filter in filters %}
                      <option value="{{'{%s|capitalize}' % filter.slug}}">{{ filter.alias }}</option>
                    {% endfor %}
                    <option value="{optional_filter|capitalize}">{{_('Optional Filter')}}</option>
                  </optgroup>
                  <optgroup label="{{_('lowercase')}}" class='text-lowercase'>
                    <option value="{measure|lower}">{{_('Measure')}}</option>
                    {% for filter in filters %}
                      <option value="{{'{%s|lower}' % filter.slug}}">{{ filter.alias }}</option>
                    {% endfor %}
                    <option value="{optional_filter|lower}">{{_('Optional Filter')}}</option>
                  </optgroup>
                </select>
              </div>
            </div>
            <div class="control-group title-help">
              <div class="controls ">
                {% set template_tooltip = "<pre><p>Variables<br>---<br>{measure}<br>{optional_filter}<br>*use drop-down list to select variables based on application filters</p><p>Processed variables<br>---<br>{measure|capitalize}<br>{measure|lower}<br>{measure|upper}<br>etc</p></pre><p><b><a href='https://mozilla.github.io/nunjucks/templating.html#variables' target='_blank'>Full templates syntax</a></b></p><p class='muted'><b>Please note:</b> Single braces '{}' are used for variables</p>" %}
                <span class="editor-info-block">{% trans %}You can use <a href="#templates" title="" data-target="popover" data-content="{{ template_tooltip }}" data-html="true" data-original-title="Templates quick reference">Templates</a> here{% endtrans %}</span>
              </div>
            </div>


          </div>
        </div>
      </div>

      {# X-axis #}
      <div class="accordion-group">
        <div class="accordion-heading">
          <a href="#accordion_{{ chart_id }}_x_axis" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_{{ chart_id }}">
            {{ _('X-axis') }}
          </a>
        </div>
        <div id="accordion_{{ chart_id }}_x_axis" class="accordion-body collapse">
          <div class="accordion-inner">

            {# X sorting #}
            {% set sort_options = h.querytool_get_chart_sort() %}
            <div id="chart_field_sort_div_{{ n }}" class="control-group control-select {% if chart and chart.category_name %}hidden{% endif %}">
              <label class="control-label" for="chart_field_sort_{{ n }}">{{ _('X axis sorting') }}</label>
              <div class="controls ">
                <select id="chart_field_sort_{{ n }}" name="chart_field_sort_{{ n }}">
                  {% for sort in sort_options %}
                  <option value="{{ sort.value }}" {% if chart %}{{ 'selected' if sort.value == chart.sort }}{% endif %} >{{ sort.text }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            {# X-axis label orientation #}
            {% set text_rotation = h.querytool_get_tick_text_rotation() %}
            {% if selected_chart_type in ['pie', 'donut'] %}
              {% set text_rotation_option = false %}
            {% else %}
              {% set text_rotation_option = true %}
            {% endif %}
            <div class="control-group control-select">
              <label class="control-label" for="chart_field_x_text_rotate_{{ n }}">{{ _('Label orientation') }}</label>
              <div class="controls ">
                <select id="chart_field_x_text_rotate_{{ n }}" name="chart_field_x_text_rotate_{{ n }}" {{'' if text_rotation_option else 'disabled'}}>
                  {% for rotate in text_rotation %}
                  <option value="{{ rotate.value }}" {% if chart %}{{ 'selected' if rotate.value == chart.x_text_rotate }}{% endif %}>{{ rotate.text }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            {# X-axis label multiline #}
            {% if chart %}
              {% set x_text_multiline = chart.x_text_multiline %}
            {% endif %}
            {% if selected_chart_type in ['pie', 'donut'] %}
              {% set x_text_multiline_option = false %}
            {% else %}
              {% set x_text_multiline_option = true %}
            {% endif %}
            <div class="control-group">
              <label class="control-label" for="chart_field_x_text_multiline_{{ n }}">{{ _('Force label in multiple lines') }}</label>
              <div class="controls ">
                <input id="chart_field_x_text_multiline_{{ n }}" type="checkbox" name="chart_field_x_text_multiline_{{ n }}" value="{{ x_text_multiline }}"{% if x_text_multiline=='false' %}{% else %}checked{% endif %} {{'' if text_rotation_option else 'disabled'}}>
              </div>
            </div>

            {# X-axis ticks #}
            {% if chart %}
              {% set x_tick_culling_max = chart.x_tick_culling_max %}
            {% endif %}
            {% if selected_chart_type in ['bar', 'hbar', 'sbar', 'shbar', 'pie', 'donut'] %}
              {% set x_tick_culling_max_option = true %}
            {% else %}
              {% set x_tick_culling_max_option = false %}
            {% endif %}
            <div class="control-group">
              <label class="control-label" for="chart_field_x_tick_culling_max_{{ n }}">{{ _('Max number of text labels') }}</label>
              <div class="controls ">
                <input id="chart_field_x_tick_culling_max_{{ n }}" type="number" min="0" step="1" name="chart_field_x_tick_culling_max_{{ n }}" placeholder="10" value="{{ x_tick_culling_max }}" {{'disabled' if x_tick_culling_max_option else ''}}>
              </div>
            </div>

          </div>
        </div>
      </div>

      {# Y-axis #}
      <div class="accordion-group">
        <div class="accordion-heading">
          <a href="#accordion_{{ chart_id }}_y_axis" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_{{ chart_id }}">
            {{ _('Y-axis') }}
          </a>
        </div>
        <div id="accordion_{{ chart_id }}_y_axis" class="accordion-body collapse">
          <div class="accordion-inner">

            {# Y-axis title #}
            {% if chart %}
              {% set y_label = chart.y_label %}
            {% endif %}
            {% if selected_chart_type in ['pie', 'donut'] %}
              {% set y_label_option = false %}
            {% else %}
              {% set y_label_option = true %}
            {% endif %}
            <div class="control-group ">
               <label class="control-label" for="chart_field_y_label_{{ n }}">{{ _('Y axis title') }}</label>
               <div class="controls ">
                  <input id="chart_field_y_label_{{ n }}" type="text" name="chart_field_y_label_{{ n }}" value="{{ y_label }}" placeholder="{{ _('Measure by default') }}" {{'' if y_label_option else 'disabled'}}>
               </div>
            </div>

            {# Y-axis title hide #}
            {% if chart %}
              {% set y_label_hide = chart.y_label_hide %}
            {% endif %}
            {% if selected_chart_type in ['pie', 'donut'] %}
              {% set y_label_hide_option = false %}
            {% else %}
              {% set y_label_hide_option = true %}
            {% endif %}
            <div class="control-group ">
               <label class="control-label" for="chart_field_y_label_hide_{{ n }}">{{ _('Hide title') }}</label>
               <div class="controls ">
                  <input id="chart_field_y_label_hide_{{ n }}" type="checkbox" name="chart_field_y_label_hide_{{ n }}" value="{{ y_label_hide }}" {% if y_label_hide=='true' %}checked{% endif %} {{'' if y_label_hide_option else 'disabled'}}>
               </div>
            </div>

            {# Y-axis from zero #}
            {% if chart %}
              {% set y_from_zero = chart.y_from_zero %}
            {% endif %}
            {% if selected_chart_type in ['pie', 'donut'] %}
              {% set y_from_zero_option = false %}
            {% else %}
              {% set y_from_zero_option = true %}
            {% endif %}
            <div class="control-group ">
               <label class="control-label" for="chart_field_y_from_zero_{{ n }}">{{ _('Start from zero') }}</label>
               <div class="controls ">
                  <input id="chart_field_y_from_zero_{{ n }}" type="checkbox" name="chart_field_y_from_zero_{{ n }}" value="{{ y_from_zero }}" {% if y_from_zero=='true' %}checked{% endif %} {{'' if y_from_zero_option else 'disabled'}}>
               </div>
            </div>

            {# Y-axis label format #}
            {% if chart and chart.tick_count%}
              {% set ticks_formats = h.queytool_get_charts_data_formats(5) %}
            {% else %}
              {% set ticks_formats = h.queytool_get_charts_data_formats() %}
            {% endif %}
            {% if selected_chart_type in ['pie', 'donut'] %}
              {% set ticks_formats_option = false %}
            {% else %}
              {% set ticks_formats_option = true %}
            {% endif %}
            <div class="control-group control-select">
               <label class="control-label" for="chart_field_y_ticks_format_{{ n }}">{{ _('Y axis label format') }}</label>
               <div class="controls ">
                  <select id="chart_field_y_ticks_format_{{ n }}" name="chart_field_y_ticks_format_{{ n }}" {{'' if ticks_formats_option else 'disabled'}}>
                  {% for tick in ticks_formats %}
                  <option value="{{ tick.value }}" {% if chart %}{{ 'selected' if tick.value == chart.y_tick_format }}{% endif %} >{{ tick.text }}</option>
                  {% endfor %}
                  </select>
               </div>
            </div>

          </div>
        </div>
      </div>

      {# Additional Options #}
      <div class="accordion-group">
        <div class="accordion-heading">
          <a href="#accordion_{{ chart_id }}_graph" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_{{ chart_id }}">
            {{ _('Additional Options') }}
          </a>
        </div>
        <div id="accordion_{{ chart_id }}_graph" class="accordion-body collapse">
          <div class="accordion-inner">


            {# Data format #}
            {% set data_formats = h.queytool_get_charts_data_formats() %}
            {% if selected_chart_type in ['pie', 'donut'] %}
              {% set data_formats_option = false %}
            {% else %}
              {% set data_formats_option = true %}
            {% endif %}
            <div class="control-group control-select">
              <label class="control-label" for="chart_field_data_format_{{ n }}">{{ _('Data format') }}</label>
              <div class="controls ">
                <select id="chart_field_data_format_{{ n }}" name="chart_field_data_format_{{ n }}" {{'' if data_formats_option else 'disabled'}}>
                  {% for format in data_formats %}
                  <option value="{{ format.value }}" {% if chart %}{{ 'selected' if format.value == chart.data_format }}{% endif %} >{{ format.text }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            {# Show labels #}
            {% if chart %}
              {% set show_labels = chart.show_labels %}
            {% endif %}
            {% if selected_chart_type in ['pie', 'donut'] %}
              {% set show_labels_option = false %}
            {% else %}
              {% set show_labels_option = true %}
            {% endif %}
            <div class="control-group ">
               <label class="control-label" for="chart_field_labels_{{ n }}">{{ _('Show data labels') }}</label>
               <div class="controls ">
                  <input id="chart_field_labels_{{ n }}" type="checkbox" name="chart_field_labels_{{ n }}" value="{{ show_labels }}"{% if show_labels=='false' %}{% else %}checked{% endif %} {{'' if show_labels_option else 'disabled'}}>
               </div>
            </div>

            {# Show legend #}
            {% if chart %}
              {% set show_legend = chart.show_legend %}
            {% endif %}
            <div class="control-group ">
               <label class="control-label" for="chart_field_legend_{{ n }}">{{ _('Show legend') }}</label>
               <div class="controls ">
                  <input id="chart_field_legend_{{ n }}" type="checkbox" name="chart_field_legend_{{ n }}" value="{{ show_legend }}"{% if show_legend=='false' %}{% else %}checked{% endif %}>
               </div>
            </div>

            {# Show values as percentages (pie and donut charts only) #}
            {% if chart %}
              {% set show_labels_as_percentages = chart.show_labels_as_percentages %}
            {% endif %}
            {% if selected_chart_type in ['pie', 'donut'] %}
              {% set show_labels_as_percentages_option = true %}
            {% else %}
              {% set show_labels_as_percentages_option = false %}
            {% endif %}
            <div class="control-group ">
               <label class="control-label" for="chart_field_show_labels_as_percentages_{{ n }}">{{ _('Show labels as percentages') }}</label>
               <div class="controls ">
                  <input id="chart_field_show_labels_as_percentages_{{ n }}" type="checkbox" name="chart_field_show_labels_as_percentages_{{ n }}" {% if show_labels_as_percentages=='true' %}checked{% endif %} {{'' if show_labels_as_percentages_option else 'disabled'}}>
               </div>
            </div>

          </div>
        </div>
      </div>

      {# Optional Filter #}
      <div class="accordion-group">
        <div class="accordion-heading">
          <a href="#accordion_{{ chart_id }}_optional_filter" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_{{ chart_id }}">
            {{ _('Optional Filter') }}
          </a>
        </div>
        <div id="accordion_{{ chart_id }}_optional_filter" class="accordion-body collapse">
          <div class="accordion-inner">

            {# Optional Filter #}
            <div class="control-group control-select">
              <label class="control-label" for="chart_field_filter_name_{{ n }}">{{ _('Dimension') }}</label>
              <div class="controls ">
                <select id="chart_field_filter_name_{{ n }}" name="chart_field_filter_name_{{ n }}">
                  <option value="">&mdash; {{ _('Select column') }} &mdash;</option>
                  {% for filter in chart_filters %}
                  <option value="{{filter}}"{% if chart %}{{ 'selected' if filter == chart.filter_name }}{% endif %}>{{filter}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            {# Optional Filter Default Value #}
            <div id="chart_div_filter_value_{{ n }}" class="control-group control-select {{ class }}">
              <label class="control-label" for="chart_field_filter_value_{{ n }}">{{ _('Default value') }}</label>
              <div class="controls ">
                <select id="chart_field_filter_value_{{ n }}" name="chart_field_filter_value_{{ n }}" >
                  <option value="">&mdash; {{ _('Select value') }} &mdash;</option>
                  {% if chart and chart.filter_value %}
                  <option value="{{ chart.filter_value }}" selected>{{ chart.filter_value }}</option>
                  {% endif %}
                </select>
              </div>
            </div>

            {# Optional Filter Alias #}
            <div id="chart_div_filter_alias_{{ n }}" class="control-group {{ class }}">
              <label class="control-label" for="chart_field_filter_alias_{{ n }}">{{ _('Filter Label') }}</label>
              <div class="controls ">
                <input id="chart_field_filter_alias_{{ n }}" name="chart_field_filter_alias_{{ n }}" {% if chart and chart.filter_alias %}value="{{chart.filter_alias}}"{% else %}value=""{% endif %} placeholder="{{ _('Enter filter Label') }}" type="text">
              </div>
            </div>

            {# Optional Filter Visability #}
            <div id="chart_div_filter_visibility_{{ n }}" class="control-group control-select {{ class }}">
              <label class="control-label" for="chart_field_filter_visibility_{{ n }}">{{ _('Filter visibility') }}</label>
              <div class="controls ">
                <select id="chart_field_filter_visibility_{{ n }}" name="chart_field_filter_visibility_{{ n }}" >
                  <option value="public" {{ 'selected' if chart and chart.filter_visibility == 'public' }}>{{ _('Public') }}</option>
                  <option value="private" {{ 'selected' if chart and chart.filter_visibility == 'private' }}>{{ _('Private') }}</option>
                </select>
              </div>
            </div>

          </div>
        </div>
      </div>

      {# Static Reference #}
      <div class="accordion-group">
        <div class="accordion-heading">
          <a href="#accordion_{{ chart_id }}_static_reference" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_{{ chart_id }}">
            {{ _('Static Reference') }}
          </a>
        </div>
        <div id="accordion_{{ chart_id }}_static_reference" class="accordion-body collapse">
          <div class="accordion-inner">

            {# Static Reference Columns #}
            {% if selected_chart_type in ['pie', 'donut'] %}
              {% set static_reference_columns_option = false %}
            {% else %}
              {% set static_reference_columns_option = true %}
            {% endif %}
            <div class="control-group ">
               <label class="control-label" for="chart_field_static_reference_columns_{{ n }}">{{ _('Static Reference Columns') }}</label>
               <div class="controls ">
                 <select id="chart_field_static_reference_columns_{{ n }}" name="chart_field_static_reference_columns_{{ n }}" multiple style="width:100%" {{'' if static_reference_columns_option else 'disabled'}}>
                   {% for measure in y_axis_values %}
                     <optgroup label="{{ measure }}">
                       {% for column in numeric_columns %}
                         {% set value = [measure, column]|join('|') %}
                         <option value="{{ value }}" {% if chart %}{{ 'selected' if value in chart.static_reference_columns }}{% endif %}>
                          {{column}} ({{measure}})
                         </option>
                       {% endfor %}
                     </optgroup>
                   {% endfor %}
                 </select>
               </div>
            </div>

            {# Static Reference Label #}
            {% if chart %}
              {% set static_reference_label = chart.static_reference_label %}
            {% endif %}
            {% if selected_chart_type in ['pie', 'donut'] %}
              {% set static_reference_label_option = false %}
            {% else %}
              {% set static_reference_label_option = true %}
            {% endif %}
            <div class="control-group ">
               <label class="control-label" for="chart_field_static_reference_label_{{ n }}">{{ _('Static Reference Label') }}</label>
               <div class="controls ">
                  <input id="chart_field_static_reference_label_{{ n }}" type="text" name="chart_field_static_reference_label_{{ n }}" value="{{ static_reference_label }}" placeholder="{{ _('Static Reference') }}" {{'' if static_reference_label_option else 'disabled'}}>
               </div>
            </div>

          </div>
        </div>
      </div>

      {# Dynamic Reference #}
      <div class="accordion-group">
        <div class="accordion-heading">
          <a href="#accordion_{{ chart_id }}_dynamic_reference" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_{{ chart_id }}">
            {{ _('Dynamic Reference') }}
          </a>
        </div>
        <div id="accordion_{{ chart_id }}_dynamic_reference" class="accordion-body collapse">
          <div class="accordion-inner">

            {# Dynamic Reference Type #}
            {% if selected_chart_type in ['pie', 'donut'] %}
              {% set dynamic_reference_type_option = false %}
            {% else %}
              {% set dynamic_reference_type_option = true %}
            {% endif %}
            <div class="control-group ">
               <label class="control-label" for="chart_field_dynamic_reference_type_{{ n }}">{{ _('Dynamic Reference Type') }}</label>
               <div class="controls ">
                 <select id="chart_field_dynamic_reference_type_{{ n }}" name="chart_field_dynamic_reference_type_{{ n }}" {{'' if dynamic_reference_type_option else 'disabled'}}>
                   <option value="">&mdash; {{ _('Select type') }} &mdash;</option>
                   {% for type in ['Maximum', 'Average', 'Minimum'] %}
                     <option value="{{type}}"{% if chart %}{{ 'selected' if type == chart.dynamic_reference_type }}{% endif %}>{{type}}</option>
                   {% endfor %}
                 </select>
               </div>
            </div>

            {# Dynamic Reference Factor #}
            {% if chart %}
              {% set dynamic_reference_factor = chart.dynamic_reference_factor %}
            {% endif %}
            {% if selected_chart_type in ['pie', 'donut'] %}
              {% set dynamic_reference_factor_option = false %}
            {% else %}
              {% set dynamic_reference_factor_option = true %}
            {% endif %}
            <div class="control-group ">
               <label class="control-label" for="chart_field_dynamic_reference_factor_{{ n }}">{{ _('Dynamic Reference Factor') }}</label>
               <div class="controls ">
                  <input id="chart_field_dynamic_reference_factor_{{ n }}" type="number" min="0" step="0.1" name="chart_field_dynamic_reference_factor_{{ n }}" value="{{ dynamic_reference_factor }}" default="1" placeholder="1" {{'' if dynamic_reference_factor_option else 'disabled'}}>
               </div>
            </div>

            {# Dynamic Reference Label #}
            {% if chart %}
              {% set dynamic_reference_label = chart.dynamic_reference_label %}
            {% endif %}
            {% if selected_chart_type in ['pie', 'donut'] %}
              {% set dynamic_reference_label_option = false %}
            {% else %}
              {% set dynamic_reference_label_option = true %}
            {% endif %}
            <div class="control-group ">
               <label class="control-label" for="chart_field_dynamic_reference_label_{{ n }}">{{ _('Dynamic Reference Label') }}</label>
               <div class="controls ">
                  <input id="chart_field_dynamic_reference_label_{{ n }}" type="text" name="chart_field_dynamic_reference_label_{{ n }}" value="{{ dynamic_reference_label }}" placeholder="{{ _('Dynamic Reference') }}" {{'' if dynamic_reference_label_option else 'disabled'}}>
               </div>
            </div>

          </div>
        </div>
      </div>

    </div>


    {# Controls #}
    <input type="hidden" id="chart_field_axis_y_{{ n }}" name="chart_field_axis_y_{{ n }}" {% if chart %} value="{{ chart.y_axis }}" {% endif %} />
    <ul class="inline text-right chart-actions">
       <li class="remove"><a class="btn delete-item-btn">{% block delete_button_text %}<span class="fa fa-trash-o" aria-hidden="true"></span> {{ _('Delete') }}{% endblock %}</a></li>
       <li><a class="btn update-chart-btn"><span class="fa fa-refresh" aria-hidden="true"></span> {{ _('Update') }}</a></li>
    </ul>
    <span class="grippy"></span>

    {# Legacy #}
    {% if chart %}
      {% set tooltip_name = chart.tooltip_name %}
    {% endif %}
    <div class="control-group hidden">
       <label class="control-label" for="chart_field_tooltip_name_{{ n }}">{{ _('Tooltip name') }}</label>
       <div class="controls ">
          <input id="chart_field_tooltip_name_{{ n }}" type="text" name="chart_field_tooltip_name_{{ n }}" value="{{ tooltip_name }}" placeholder="{{ _('Tooltip name') }}">
       </div>
    </div>
    {% if chart %}
      {% set ptop = chart.padding_top %}
    {% endif %}
    <div class="control-group hidden">
       <label class="control-label" for="chart_field_padding_top_{{ n }}">{{ _('Padding top') }}</label>
       <div class="controls ">
          <input id="chart_field_padding_top_{{ n }}" type="number" min="0" name="chart_field_padding_top_{{ n }}" value="{{ ptop }}" placeholder="{{ _('Default') }}">
       </div>
    </div>
    {% if chart %}
      {% set pbtm = chart.padding_bottom %}
    {% endif %}
    <div class="control-group hidden">
       <label class="control-label" for="chart_field_padding_bottom_{{ n }}">{{ _('Padding bottom') }}</label>
       <div class="controls ">
          <input id="chart_field_padding_bottom_{{ n }}" type="number" min="0" name="chart_field_padding_bottom_{{ n }}" value="{{ pbtm }}" placeholder="{{ _('Default') }}">
       </div>
    </div>
    {% if chart %}
      {% set tick_count = chart.tick_count %}
    {% endif %}
    <div class="control-group hidden">
       <label class="control-label" for="chart_field_tick_count_{{ n }}">{{ _('Y axis tick count') }}</label>
       <div class="controls ">
          <input id="chart_field_tick_count_{{ n }}" type="number" min="0" name="chart_field_tick_count_{{ n }}" value="{{ tick_count }}" placeholder="{{ _('Default') }}">
       </div>
    </div>
    {% if chart %}
    {% set chart_padding_left = chart.chart_padding_left %}
    {% endif %}
    <div class="control-group hidden">
      <label class="control-label" for="chart_field_chart_padding_left_{{ n }}">{{ _('Chart Padding left') }}</label>
      <div class="controls ">
        <input id="chart_field_chart_padding_left_{{ n }}" type="number" min="0" max="120" name="chart_field_chart_padding_left_{{ n }}" value="{{ chart_padding_left }}" placeholder="{{ _('Default') }}">
      </div>
    </div>
    {% if chart %}
    {% set chart_padding_bottom = chart.chart_padding_bottom %}
    {% endif %}
    <div class="control-group hidden">
      <label class="control-label" for="chart_field_chart_padding_bottom_{{ n }}">{{ _('Chart Padding bottom') }}</label>
      <div class="controls ">
        <input id="chart_field_chart_padding_bottom_{{ n }}" type="number" min="0" name="chart_field_chart_padding_bottom_{{ n }}" value="{{ chart_padding_bottom }}" placeholder="{{ _('Default') }}">
      </div>
    </div>

  </div>
  <div class="preview-wrapper custom-width">
      {% if chart %}
          {% set colors = chart.color %}
          {% set x_axis = chart.x_axis %}
          {% set y_axis = chart.y_axis %}
          {% set chart_type = chart.graph %}
          {% set title = chart.title %}
          {% set show_legend = chart.show_legend %}
          {% set x_text_rotate = chart.x_text_rotate %}
          {% set x_text_multiline = chart.x_text_multiline %}
          {% set x_tick_culling_max = chart.x_tick_culling_max %}
          {% set tooltip_name = chart.tooltip_name %}
          {% set data_format = chart.data_format %}
          {% set y_tick_format = chart.y_tick_format %}
          {% set chart_padding_left = chart.chart_padding_left %}
          {% set chart_padding_bottom = chart.chart_padding_bottom %}
          {% set padding_bottom = chart.padding_bottom %}
          {% set padding_top = chart.padding_top %}
          {% set tick_count = chart.tick_count %}
          {% set show_labels = chart.show_labels %}
          {% set show_labels_as_percentages = chart.show_labels_as_percentages %}
          {% set y_label = chart.y_label %}
          {% set y_label_hide = chart.y_label_hide %}
          {% set y_from_zero = chart.y_from_zero %}
          {% set filter_name = chart.filter_name %}
          {% set filter_slug = chart.filter_slug %}
          {% set filter_value = chart.filter_value %}
          {% set category_name = chart.category_name %}
          {% set data_sort = chart.sort %}
          {% set static_reference_columns = chart.static_reference_columns %}
          {% set static_reference_label = chart.static_reference_label %}
          {% set dynamic_reference_type = chart.dynamic_reference_type %}
          {% set dynamic_reference_factor = chart.dynamic_reference_factor %}
          {% set dynamic_reference_label = chart.dynamic_reference_label %}
      {% endif %}
      {% snippet 'ajax_snippets/visualization_item.html',
          type='chart',
          colors=colors,
          x_axis=x_axis,
          y_axis=y_axis,
          chart_type=chart_type,
          sql_string=sql_string,
          title= title,
          show_legend = show_legend,
          x_text_rotate= x_text_rotate,
          x_text_multiline= x_text_multiline,
          x_tick_culling_max = x_tick_culling_max,
          tooltip_name = tooltip_name,
          data_format = data_format,
          y_tick_format = y_tick_format,
          chart_padding_left = chart_padding_left,
          chart_padding_bottom = chart_padding_bottom,
          padding_bottom = padding_bottom,
          padding_top = padding_top,
          tick_count = tick_count,
          show_labels = show_labels,
          show_labels_as_percentages = show_labels_as_percentages,
          y_label = y_label,
          y_label_hide = y_label_hide,
          y_from_zero = y_from_zero,
          filter_name=filter_name,
          filter_slug=filter_slug,
          filter_value=filter_value,
          category_name=category_name,
          data_sort = data_sort,
          measure_label=measure_label,
          info_query_filters=info_query_filters,
          static_reference_columns=static_reference_columns,
          static_reference_label=static_reference_label,
          dynamic_reference_type=dynamic_reference_type,
          dynamic_reference_factor=dynamic_reference_factor,
          dynamic_reference_label=dynamic_reference_label
      %}
   </div>
</div>
