<div id="" class="chart-fields-section">

  <div class="control-group control-select">
    <label class="control-label" for="">Graph type</label>
    <div class="controls ">
      <select id="">
        <option value="">Line</option>
      </select>
    </div>
  </div>

    <div class="control-group control-select">
    <label class="control-label" for="">Select (Axis Y)</label>
    <div class="controls ">
      <select id="">
        <option value="">id</option>
      </select>
    </div>
  </div>

    <div class="control-group control-select">
    <label class="control-label" for="">Select(Axis X)</label>
    <div class="controls ">
      <select id="">
        <option value="">id</option>
      </select>
    </div>
  </div>

  <div class="control-group ">
    <label class="control-label" for="">Number of rows</label>
    <div class="controls ">
      <input id="" name=""
             value=""
             placeholder="Enter rows number" type="text">
    </div>
  </div>

</div>