{% set active_charts = chart %}

<h1>{{ active_charts }}</h1>
<div id="chart_field_{{ n }}" class="chart_field chart-fields-section">

  {% set chart_types = h.querytool_get_chart_types() %}
  <div class="control-group control-select">
    <label class="control-label" for="chart_field_graph_{{ n }}">Graph type</label>
    <div class="controls ">
      <select id="chart_field_graph_{{ n }}" name="chart_field_graph_{{ n }}">
      {% for type in chart_types %}
        <option value="{{ type }}" {% if chart %}{{ 'selected' if type == chart.graph }}{% endif %}>{{type}}</option>
       {% endfor %}
      </select>
    </div>
  </div>

  {% set color_scheme = h.querytool_get_color_scheme() %}
   <div class="control-group control-select">
    <label class="control-label" for="chart_field_color_{{ n }}">Color scheme</label>
    <div class="controls ">
      <select id="chart_field_color_{{ n }}" name="chart_field_color_{{ n }}">
      {% for color in color_scheme %}
        <option value="{{ color.value }}">{{color.text}}</option>
       {% endfor %}
      </select>
    </div>
  </div>

    <div class="control-group control-select">
    <label class="control-label" for="chart_field_axis_y_{{ n }}">Select (Axis Y)</label>
    <div class="controls ">
      <select id="chart_field_axis_y_{{ n }}" name="chart_field_axis_y_{{ n }}">
        <option value="y">id</option>
      </select>
    </div>
  </div>

    <div class="control-group control-select">
    <label class="control-label" for="chart_field_axis_x_{{ n }}">Select(Axis X)</label>
    <div class="controls ">
      <select id="chart_field_axis_x_{{ n }}" name="chart_field_axis_x_{{ n }}">
        <option value="x">id</option>
      </select>
    </div>
  </div>

  <div class="control-group ">
    <label class="control-label" for="chart_field_num_row">Number of rows</label>
    <div class="controls ">
      <input id="chart_field_num_row" name="num_rows"
             value=""
             placeholder="Enter rows number" type="text">
    </div>
  </div>

</div>