{% set active_filters = active_filters.split(',') %}

{% if c.resource_id and selected_filter %}
  {% set selected_filter_values = h.querytool_get_filter_values(c.resource_id, selected_filter.name) %}
{% endif %}

<div id="filter_item_{{ n }}" class="filter_item row">

    <div class="control-group control-select">
      <label class="control-label" for="data_filter_name_{{ n }}">Select filter</label>
      <div class="controls ">
        <select id="data_filter_name_{{ n }}" name="data_filter_name_{{ n }}" required=required>
            <option value="">Choose filter</option>
          {% for filter in active_filters %}
            <option value="{{ filter }}" {% if selected_filter %}{{ 'selected' if filter == selected_filter.name }}{% endif %}>{{ filter }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="control-group control-select data_filter_value_{{ n }} {{ class }}">
      <label class="control-label" for="data_filter_value_{{ n }}">Select value</label>
      <div class="controls ">
        <select id="data_filter_value_{{ n }}" name="data_filter_value_{{ n }}" required=required>
          <option value="">Choose default value</option>
            {% if selected_filter_values %}
              {% for value in selected_filter_values %}
                <option value="{{ value }}" {{ 'selected' if value == selected_filter.value }}>{{ value }}</option>
              {% endfor %}
          {% endif %}
        </select>
      </div>
    </div>

    <div class="control-group data_filter_alias_{{ n }} {{ class }}">
      <label class="control-label" for="data_filter_alias_{{ n }}">Filter alias</label>
      <div class="controls ">
        <input id="data_filter_alias_{{ n }}" name="data_filter_alias_{{ n }}"
             {% if selected_filter %}value="{{selected_filter.alias}}"{% else %}value=""{% endif %}
             placeholder="Enter filter alias" type="text" required=required>
      </div>
    </div>

    <input type="hidden" id="resource_id_{{ n }}" name="resource_id_{{ n }}" value="{{ c.resource_id or resource_id }}"/>

    <a class="btn btn-danger remove-filter-item-btn pull-right"><i class="fa fa-trash" aria-hidden="true"></i> Remove </a>
    <hr>

</div>
