<div id="image_item_{{ n }}" class="item image_item visualization-fields-section">
   <div class="item-wrapper">
      {% snippet 'querytool/admin/snippets/image_upload.html', data=data,n=n  %}
      <ul class="inline text-right chart-actions">
         <li class="remove"><a class="btn delete-item-btn">{% block delete_button_text %}<span class="fa fa-trash-o" aria-hidden="true"></span> {{ _('Delete') }}{% endblock %}</a></li>
         <li><button class="btn copy-chart-btn" type="submit" id="copy-viz-btn_{{ n }}" name="copy-viz-btn_{{ n }}"><span class="fa fa-copy" aria-hidden="true"></span> {{ _('Copy') }}</button></li>
      </ul>
      <input type="hidden" id="image_upload_{{ n }}" name="image_upload_{{ n }}" value="{{ image_upload }}"/>
      <span class="grippy"></span>
   </div>
</div>