<div id="map_module_{{ n }}" class="item-content" data-module="querytool-map"
     data-module-map_config="{{ map_config }}"
     data-module-map_resource="{{ map_resource }}"
     data-module-map_title_field="{{ map_title_field }}"
     data-module-map_key_field="{{ map_key_field }}"
     data-module-data_key_field="{{ data_key_field }}"
     data-module-sql_string="{{ sql_string }}"
     data-module-map_color_scheme="{{ map_color_scheme }}"
     data-module-y_axis_column="{{ y_axis_column }}"
     data-module-measure_label="{{ measure_label }}"
     data-module-filter_name="{{ filter_name }}"
     data-module-filter_value="{{ filter_value }}">
     Loading...
</div>
