{% if q_name %}
  {% set alias = q_name + '_' %}
{% else %}
  {% set alias = '' %}
{% endif %}

{% if selected_filter.filter_color %}
  {% set fc = selected_filter.filter_color %}
{% else %}
  {% set fc = 'FFFFFF' %}
{% endif %}

{% if visibility == 'public' %}
  {% set class='' %}
{% else %}
  {% set class='hidden' %}
{% endif %}

<div id="filter_item_{{ id }}" class="{% if class %}{{ class }}{% else %}filter-group-wrapper{% endif %}" >
  <!--don't display arrow on first filter -->
  {% if show_arrow %}
    <span class="fa fa-arrow-right"></span>
  {% endif %}
  <div class="filter-group" style="background: rgba{{ h.querytool_hex_to_rgba(fc, 0.7) }};">
    <label for="data_filter_value_{{ id }}">{{ selected_filter.alias }}</label>
    <input type="hidden" id="data_filter_name_{{ id }}" name="{{alias}}data_filter_name_{{ n }}" value="{{ selected_filter.name }}" {% if class %}disabled{% endif %}/>
    <select class="filter-item filter-item-value input-block-level {{ class }}" id="data_filter_value_{{ id }}" name="{{alias}}data_filter_value_{{ n }}" {% if class %}disabled{% endif %}>
      <option value="">&mdash;{{ _('Select value') }}&mdash;</option>
      {% if selected_filter %}
      <option value="{{ selected_filter.value }}" selected>{{ selected_filter.value }}</option>
      {% endif %}
    </select>
  </div>
</div>

