<div id="querytool_item_{{ n }}" class="related-query-item">
    <div class="control-group">
      <ul class="inline text-right filter-actions pull-right no-markers">
        <li>
          {% if querytool_name %}
          {% set action_url = h.url_for('reports.edit', querytool=querytool_name) %}
          <a id="edit-querytool-item-btn_{{ n }}" class="btn edit-querytool-item-btn" href="{{ action_url }}">
            <span class="fa fa-edit" aria-hidden="true"></span> {{ _('Edit') }}
          </a>
          {% endif %}
        </li>
        <li>
          <a class="btn remove-querytool-item-btn">
            <span class="fa fa-trash-o" aria-hidden="true"></span> {{ _('Delete') }}
          </a>
        </li>
      </ul>
    <label for="field-related-querytool_{{ n }}" class="control-label">{{ _('Related Report')  }}</label>
    <div class="controls">
      <select id="field-related-querytool_{{ n }}" name="related_querytool_{{ n }}" required="required">
          <option value="">&mdash; {{ _('Select Report') }} &mdash;</option>
          {% if querytool_name %}
            <option value="{{ querytool_name }}" selected>{{ querytool_name }}</option>
          {% endif %}
      </select>
    </div>
  </div>
  <hr>
</div>
