<div id="table_item_{{ n }}" class="item table_item visualization-fields-section">
   <div class="item-wrapper">

      {% set sizes = h.querytool_get_visualization_size() %}
      <div class="control-group control-select">
         <label class="control-label" for="table_size_{{ n }}">{{ _('Table size') }}</label>
         <div class="controls ">
            <select id="table_size_{{ n }}" name="table_size_{{ n }}">
            {% for size in sizes %}
            <option value="{{ size.value }}" {% if table %}{{ 'selected' if size.value == table.size }}{% endif %} >{{size.text}}</option>
            {% endfor %}
            </select>
         </div>
      </div>

      {% set y_axis_values = y_axis_values.split(',') %}
      {% set columns = h.querytool_get_resource_columns(resource_id, y_axis_values) %}
       <div class="control-group control-select">
        <label class="control-label" for="table_main_value_{{ n }}">{{ _('Main value') }}</label>
        <div class="controls ">
          <select id="table_main_value_{{ n }}" name="table_main_value_{{ n }}">
            {% for column in columns %}
            <option value="{{column}}"{% if table %}{{ 'selected' if column == table.main_value }}{% endif %}>{{column}}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <span class="grippy"></span>
    </div>

   {% if table %}
      {% set main_value = table.main_value %}
   {% endif %}
   <div class="preview-wrapper">
      {% snippet 'ajax_snippets/table_module.html',
      sql_string = sql_string,
      resource_id = resource_id,
      y_axis = y_axis,
      main_value = main_value
      %}
   </div>
   <ul class="inline text-right chart-actions">
    <li class="remove"><a class="btn delete-item-btn">{% block delete_button_text %}<span class="fa fa-trash-o" aria-hidden="true"></span> {{ _('Delete') }}{% endblock %}</a></li>
    <li><a class="btn update-table-btn"><span class="fa fa-refresh" aria-hidden="true"></span> {{ _('Update') }}</a></li>
  </ul>
</div>