{% set id = h.querytool_get_uuid() %}
<div data-module="querytool-table"
     data-module-sql_string="{{ sql_string }}"
     data-module-resource_id="{{ resource_id }}"
     data-module-table_id="{{ id }}"
     data-module-y_axis="{{ y_axis }}"
     data-module-measure_label="{{ measure_label }}"
     data-module-main_value="{{ main_value }}"
     data-module-category_name="{{ category_name }}"
     data-module-data_format="{{ data_format }}"
     data-module-filter_name="{{ filter_name }}"
     data-module-filter_value="{{ filter_value }}"
     data-module-table_title="{{ table_title }}"
     >
</div>
<table id="table-item-{{ id }}" class="hover table-bordered"></table>
