 {% import 'macros/form.html' as form %}

   {% if box %}
     {% set text_description = box.description %}
  {% endif %}
  <div id="text_box_{{ number }}" class="item text-boxs-section text_box visualization-fields-section">
          <div class="textbox-form-wrapper">

        <div class="control-group ">
            <label class="control-label" for="text_box_description_{{ number }}">{{ _('Text box description') }}</label>
            <div class="controls ">
                <textarea id="text_box_description_{{ number }}" name="text_box_description_{{ number }}" value="{{ text_description }}"  type="text">{{ text_description }}</textarea>
            </div>
        </div>


  {% set sizes = h.querytool_get_visualization_size() %}
      <div class="control-group control-select">
        <label class="control-label" for="text_box_size_{{ number }}">{{ _('Text box size') }}</label>
        <div class="controls ">
          <select id="text_box_size_{{ number }}" name="text_box_size_{{ number }}">
          {% for size in sizes %}
            <option value="{{ size.value }}" {% if box %}{{ 'selected' if size.value == box.size }}{% endif %} >{{size.text}}</option>
          {% endfor %}
          </select>
        </div>
      </div>
      <ul class="inline text-right chart-actions">
        <li class="remove"><a id="delete-textbox-btn" class="btn delete-textbox-btn">{% block delete_button_text %}<span class="fa fa-trash-o" aria-hidden="true"></span> {{ _('Delete') }}{% endblock %}</a></li>
      </ul>
   </div>
  </div>