<div class="item-content" data-module="querytool-viz-preview"
     data-module-type="{{ type }}"
     data-module-colors="{{ colors }}"
     data-module-x_axis="{{ x_axis }}"
     data-module-y_axis="{{ y_axis }}"
     data-module-sql_string="{{ sql_string }}"
     data-module-chart_type="{{ chart_type }}"
     data-module-title="{{ title }}"
     data-module-show_legend="{{ show_legend }}"
     data-module-x_text_rotate="{{ x_text_rotate }}"
     data-module-x_text_multiline="{{ x_text_multiline }}"
     data-module-tooltip_name="{{ tooltip_name }}"
     data-module-data_format="{{ data_format }}"
     data-module-y_tick_format="{{ y_tick_format }}"
     data-module-chart_padding_left="{{ chart_padding_left }}"
     data-module-chart_padding_bottom="{{ chart_padding_bottom }}"
     data-module-padding_top="{{ padding_top }}"
     data-module-padding_bottom="{{ padding_bottom }}"
     data-module-tick_count="{{ tick_count }}"
     data-module-show_labels="{{ show_labels }}"
     data-module-y_label="{{ y_label }}"
     data-module-filter_name="{{ filter_name }}"
     data-module-filter_slug="{{ filter_slug or h.querytool_slugify(filter_name) }}"
     data-module-filter_value="{{ filter_value }}"
     data-module-category_name="{{ category_name }}"
     data-module-query_filters="{{ query_filters }}"
     data-module-info_query_filters="{{ info_query_filters }}"
     data-module-data_sort="{{ data_sort }}"
     data-module-measure_label="{{ measure_label }}"
     >
     Loading...
</div>
