<div data-module="querytool-viz-preview"
     data-module-type="{{ type }}"
     data-module-colors="{{ colors }}"
     data-module-x_axis="{{ x_axis }}"
     data-module-y_axis="{{ y_axis }}"
     data-module-sql_string="{{ sql_string }}"
     data-module-chart_type="{{ chart_type }}"
     data-module-title="{{ title }}"
     data-module-show_legend="{{ show_legend }}"
     data-module-x_text_rotate="{{ x_text_rotate }}"
     data-module-tooltip_name="{{ tooltip_name }}"
     data-module-tooltip_format="{{ tooltip_format }}">
     Loading...
    </div>