{% extends "querytool/public/querytool_page.html" %}

{% block main %}
    <div class="row">
      <div class="col-md-12 public-header">
        <div class="container">
          <div class="page-header">
            <h1 class="text-center">Welcome</h1>
            <p class="desc text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut lectus at erat tincidunt pellentesque ut quis lorem. In varius nunc in lorem blandit, at finibus risus lobortis.
              Nulla ac ipsum in felis consequat pretium sit amet eget mi. Nulla congue commodo velit, non ultrices magna hendrerit sed. </p>
          </div>
        </div>
      </div>
    </div>


    <div class="container content">
      <div class="row text-center box-items">
        <div class="col-md-5 query-tool">

          <div class="caption">
            <div class="thumbnail">
              <img src="/base/images/query-icon.png" alt="Query Tool">
            </div>
              {% set querytool_list = h.url_for('querytool_public_data') %}

            <h3 class="tool-title">Query Tool</h3>
            <p class="short-desc">Intrinsicly visualize one-to-one functionalities for client-centric data. Uniquely grow viral web services after
              interoperable functionalities. Interactively drive dynamic services through emerging intellectual capital</p>
            <p>
              <a href="{{ querytool_list }}" class="btn btn-primary public-button" role="button">Start Querying</a>
            </p>

          </div>
        </div>
        <div class="col-md-5 story-tool">
          <div class="caption">
            <div class="thumbnail">
              <img src="/base/images/story-icon.png" alt="Story Tool">
            </div>
            <h3 class="tool-title">Story Tool</h3>
            <p class="short-desc">Intrinsicly visualize one-to-one functionalities for client-centric data. Uniquely grow viral web services after
              interoperable functionalities. Interactively drive dynamic services through emerging intellectual capital</p>
            <p>
              <a href="#" class="btn btn-primary public-button" role="button">View A Story</a>
            </p>

          </div>
        </div>
      </div>






      </div>
    </div>
{% endblock %}
