<body>
  
  <div class="wrapper">


      <div class="container-fluid">
          <header class="main-navbar content-block">
            <div class="row">
              <div class="col-sm-3 col-md-3 col-lg-2">
                <a href="#"><img src="/base/images/Vital_Strategies_Logo_white.png" alt="Vital Strategies" class="img-responsive"></a>
              </div>
              <div class="col-sm-9 col-md-9 col-lg-10">
                <nav class="main-navigation">
                  <ul class="list-inline">
                    <li><a href="#">Query Tool</a></li>
                    <li><a href="#">Story Tool</a></li>
                    <li><a href="#">About Us</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </header>
        </div>


  <div class="row">
    <div class="col-md-12 public-header">
      <div class="container">
        <div class="page-header">
          <h1 class="text-center">Welcome</h1>
          <p class="desc text-center">Collaboratively utilize B2B leadership skills before prospective infrastructures. Efficiently synthesize standards
            compliant expertise and orthogonal data. Seamlessly cultivate resource-leveling niche markets via interdependent
            imperatives. Synergistically matrix magnetic imperatives vis-a-vis team driven results</p>
        </div>
      </div>
    </div>
  </div>




  <div class="container content">
    <div class="row text-center box-items">
      <div class="col-md-5 query-tool">

        <div class="caption">
          <div class="thumbnail">
            <img src="/base/images/query-icon.png" alt="Query Tool">
          </div>
          <h3 class="tool-title">Query Tool</h3>
          <p class="short-desc">Intrinsicly visualize one-to-one functionalities for client-centric data. Uniquely grow viral web services after
            interoperable functionalities. Interactively drive dynamic services through emerging intellectual capital</p>
          <p>
            <a href="#" class="btn btn-primary public-button" role="button">Start Querying</a>
          </p>

        </div>
      </div>



      <div class="col-md-5 story-tool pull-right">

        <div class="caption">
          <div class="thumbnail">
            <img src="/base/images/story-icon.png" alt="Story Tool">
          </div>
          <h3 class="tool-title">Story Tool</h3>
          <p class="short-desc">Intrinsicly visualize one-to-one functionalities for client-centric data. Uniquely grow viral web services after
            interoperable functionalities. Interactively drive dynamic services through emerging intellectual capital</p>
          <p>
            <a href="#" class="btn btn-primary public-button" role="button">Read A Story</a>
          </p>

        </div>
      </div>
    </div>



  </div>

</div>


</body>





<!-- <div class="row align-items-center">
    <div class="col-lg-6 " >
      {% set querytool_url = h.url_for('querytool_public_list') %}

      <a href="{{ querytool_url }}"> Use a query tool </a>
    </div>
    <div class="col-lg-6" >
      See story
    </div>
    
  </div>
</div> -->