{% extends "querytool/public/querytool_page.html" %}
{% set breadcrumb_name = h.querytool_get_public_breadcrumb_name() %}
{% set nav_bar = h.querytool_allow_nav_bar() %}
{% block content %}

<div class="container-wrapper">
  {% if nav_bar == 'True' %}
    {% block toolbar %}
      <div class="toolbar">
        {% block breadcrumb %}
          {% if self.breadcrumb_content() | trim %}
            <ul class="breadcrumb">
              {% if h.check_access('querytool_update') %}
                <li class="home"><a href="/"><i class="fa fa-home"></i><span> {{ _('Home') }}</span></a></li>
              {% endif %}
                {% block breadcrumb_content %}
                  <li class="active">{% link_for _(breadcrumb_name), controller=c.controller, action='querytool_public' %}</li>
                {% endblock %}
            </ul>
          {% endif %}
        {% endblock %}
      </div>
    {% endblock %}
  {% endif %}
  <div class="public-header query-header">
  {% block page_header_content %}
    <div class="container">
      <div class="row">
        <div class="span10 offset1">
          <div class="page-header">
            {% block page_header_inner_content %}
              {% block page_header_icon %}{% endblock %}
              {% block page_header_title %}<h1>{{ _('Welcome') }}</h1>{% endblock %}
              {% block page_header_description %}<p class="page-desc desc show-read-more">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vulputate sapien augue, ut feugiat eros pulvinar elementum. Nulla sed ante non mi fringilla molestie in et lorem.  </p>{% endblock %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
  </div>
  {% block tools %}
  <div class="container content">
    <div class="group-items">
      <div class="row">
      {% set groups = h.querytool_get_groups() %}
      
      {% set count = 1 %}

      {% for group in groups %}
      {% set url = h.url_for('querytool_public_list_by_group', group=group.name) %}
          <!-- <div class="span4">
            <a class="query-tool box" href="{{ url }}">
            <img class="thumbnail" src="{{group.image_display_url}}" alt="{{ value }}">
            <span class="tool-title">{{ group.title }}</span>
            <span class="short-desc">{{ group.description }}</span>
            <span class="btn btn-primary btn-box" role="button">{{ _('List Applications') }}</span>
            </a>
          </div>
        </div> -->
        
        {% if count == 1 %}
        <div class="row">
        {% endif %}

        <div class="col-sm-3">
          <div class="group-box">
            <div class="group-image">
              {% if group.image_display_url %}
                <img  src="{{group.image_display_url}}"  alt="" alt="{{ value }}">
              {% else %}
                <img src="/base/images/icon-1.svg" alt="">
              {% endif %}
            </div>
            
            <div class="box-content">
              <a class="query-tool" href="{{ url }}"><span class="tool-title">{{group.title}}</span></a>
              <span class="short-desc show-read-more">{{ group.description }}</span>
              
              <a class="query-tool" href="{{ url }}"><span class="btn btn-minimal" role="button">{{ _('List Applications') }}</span></a>
            </div> 
            <p class='clearfix'></p>
          </div>
        </div>
      
      {% if count == 3 %}
      </div>
      {% endif %}

      {% if count == 3 %}
        {% set count = 1 %}
      {% else %}
        {% set count = count + 1 %}
      {% endif %}

      {% endfor %}
      </div>
    </div>
  </div>
  {% endblock %}
</div>
{% endblock %}
