{% extends "querytool/public/base_main.html" %}
{% set groups = h.querytool_get_groups()[0] %}
{% set breadcrumb_name = h.querytool_get_public_breadcrumb_name() %}

{% block breadcrumb_content %}
  <li>{% link_for _(breadcrumb_name), controller=c.controller, action='querytool_public' %}</li>
  <li class="active">{% link_for groups[c.group], controller=c.controller, action='querytool_public_list', group=c.group %}</li>
{% endblock %}

{% block page_header_icon %}<img class="thumbnail" src="{{group.image_display_url}}">{% endblock %}

{% block page_header_title %}<h1>{{ group.name }}</h1>{% endblock %}

{% block page_header_description %}
    <p>{{ group.description }}</p>
    </br>
    <p>{{ group.additional_description }}</p>
{% endblock %}

{% block tools %}
<div class="container">
    {% if data %}
     {% for querytool in data | sort(attribute='title') %}
       {% if not querytool.private %}
        {% snippet 'querytool/public/snippets/query_tool_list_item.html', querytool=querytool %}
       {% endif %}
     {% endfor%}
   {% else %}
   <div class="alert alert-danger">
      <strong>{{ _('There are no applications created') }}</strong>
   </div>
   {% endif %}
</div>
{% endblock %}