{% extends "querytool/public/base_main.html" %}
{% block page_header_icon %}<img class="thumbnail" src="/base/images/query-icon-tittle.png">{% endblock %}
{% block page_header_title %}
{% set groups = h.querytool_get_groups() %}
<h1>{{ groups[c.group] }}</h1>
{% endblock %}
{% block page_header_description %}
{% endblock %}
{% block tools %}
<div class="container">
   {% if data %}
     {% for querytool in data %}
       {% if not querytool.private %}
        {% snippet 'querytool/public/snippets/query_tool_list_item.html', querytool=querytool %}
       {% endif %}
     {% endfor%}
   {% else %}
   <div class="alert alert-danger">
      <strong>There are no query tools created</strong>
   </div>
   {% endif %}
</div>
{% endblock %}