{% resource 'querytool/vendor/c3/c3.css' %}
{% resource 'querytool/vendor/d3/d3.js' %}
{% resource 'querytool/vendor/c3/c3.js' %}
{% resource "querytool/javascript/public_query.js" %}
{% resource 'querytool/javascript/modules/viz-preview.js' %}
{% resource 'querytool/javascript/modules/tool-embed.js' %}
{% import 'macros/form.html' as form %}
{% extends "querytool/public/base_main.html" %}
{% block page_header_content %}
<div class="container-fluid">
<div class="page-header">
  <div class="row-fluid">
    <div class="span8 offset2">
      {% block page_header_title %}
      {% if querytools[0].title %}
        <h1>{{ querytools[0].title }}</h1>
      {% endif %}
      {% endblock %}
      {% block page_header_description %}
      {% if querytools[0].description %}
        <p class="desc">{{ querytools[0].description }}</p>
      {% endif %}
      {% endblock %}
    </div>
  </div>
</div>
</div>
{% endblock %}
{% block tools %}
<form id="public-filters" method="GET">
  <!-- Filtering container -->
  <div class="public-query">
    {% if querytools %}
      {% for querytool in querytools %}
        {% set y_axis_columns = querytool.y_axis_columns.split(',') %}
        {% if querytool.y_axis_column %}
          {% set y_axis_selected = querytool.y_axis_column %}
        {% else %}
      {% set y_axis_selected = querytool.charts[0].y_axis %}
    {% endif %}
    <div class="controls">
      <div class="flex">
        <div class="filter-y">
          <label for="{{querytool.name}}_y_axis_column">{{ _('Y axis value') }}</label>
          <select id="{{querytool.name}}_y_axis_column" name="{{querytool.name}}_y_axis_column" class="filter-item filter-item-column">
          {% for y_axis in y_axis_columns %}
          <option value="{{ y_axis }}" {{ 'selected' if y_axis == y_axis_selected }}>{{ y_axis }}</option>
          {% endfor %}
          </select>
        </div>
        <div class="filters">
          {% if querytool.public_filters  %}
            {% for filter in querytool.public_filters %}
              {% if filter.visibility == 'public'  %}
                {% set id = h.querytool_get_uuid() %}
                {% snippet 'ajax_snippets/public_filter_item.html', id=id, q_name=querytool.name, n=filter.order, selected_filter=filter %}
              {% endif %}
            {% endfor %}
          {% endif %}
          <input type="hidden" class="field_resource_id" value="{{ querytool.chart_resource }}"/>
        </div>
        <div class="actions">
          <div class="btn-download">
              <div class="btn-group dropdown">
                  <button class="btn btn-large btn-default dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="fa fa-download"></span> Download
                    <span class="caret"></span>
                  </button>
                  {% set download_url = h.url_for('querytool_download_data', name=querytool.name) %}
                  {% set csv = '?format=csv'%}
                  {% set xml = '?format=xml'%}
                  {% set json = '?format=json'%}
                  {% set xlsx = '?format=xlsx'%}
                  <ul class="dropdown-menu">
                    <li>
                      <a href="{{ download_url }}{{ csv }}">CSV</a>
                    </li>
                    <li>
                      <a href="{{ download_url }}{{ xml }}">XML</a>
                    </li>
                    <li>
                      <a href="{{ download_url }}{{ json }}">JSON</a>
                    </li>
                    <li>
                      <a href="{{ download_url }}{{ xlsx }}">Microsoft Excel (OpenXML)</a>
                    </li>
                  </ul>
               </div>
          </div>
          <button type="submit" class="btn btn-large btn-primary btn-update"><span class="fa fa-refresh"></span> {{ _('Update') }}</button>
        </div>
      </div>
    </div>
    <!-- Visualizations container -->
    <div class="visualizations">
      {% for item in querytool.charts %}
      <div class="item {{ item.size }}">
        {% snippet 'ajax_snippets/visualization_item.html',
        type='chart',
        colors=item.color,
        x_axis=item.x_axis,
        y_axis=y_axis_selected,
        chart_type=item.graph,
        sql_string=querytool.sql_string,
        title=item.title,
        show_legend = item.show_legend,
        x_text_rotate= item.x_text_rotate,
        tooltip_name = item.tooltip_name,
        data_format = item.data_format,
        y_tick_format = item.y_tick_format,
        padding_bottom = item.padding_bottom,
        padding_top = item.padding_top,
        show_labels = item.show_labels,
        y_label = item.y_label
        %}
        <a class="btn-chart-download">
          <i class="fa fa-download fa-lg" aria-hidden="true" title="{{ _('Download image') }}" data-name="{{ item.title }}"></i>
        </a>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
    {% endif %}
  </div>
</form>
{% endblock %}
{% block footer %}
<div class="site-footer">
  <div class="container">
    <h3>Share or Download Story</h3>
    <div class="row">
      <div class="span6">
        <div class="input-append">
          <input class="span4" id="appendedInputButtons" type="text" value="">
          <button class="btn copyToClipboard" type="button">Copy</button>
        </div>
      </div>
      <div class="span6">
        <ul class="inline pull-right">
          <li>
            <div class="btn-group">
              <button class="btn"
                href="#embed-{{ querytools[0].name }}"
                data-module="tool-embed"
                data-module-id="{{ querytools[0].id }}">
              <span class="fa fa-code"></span>
              Embed
              </button>
            </div>
            <div id="embed-{{ querytools[0].id }}" class="modal tool-embed hide">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3><b>Embed query tool view</b></h3>
              </div>
              <div class="modal-body">
                <p class="embed-content">You can copy and paste the embed code </p>
                <div class="row-fluid">
                  <div class="span6">
                    {{ form.input("width", label=_("Width"), value=700, classes=["control-full"]) }}
                  </div>
                  <div class="span6">
                    {{ form.input("height", label=_("Height"), value=400, classes=["control-full"]) }}
                  </div>
                </div>
                {{ form.textarea("code", label=_("Code"), value="", classes=["pre"], rows=3) }}
              </div>
            </div>
          </li>
          <li>
          </li>
          <li>
            <div class="btn-group dropup">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <span class="fa fa-share"></span> Share
              <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="#">Facebook</a>
                </li>
                <li>
                  <a href="#">Twitter</a>
                </li>
                <li>
                  <a href="#">Share on ...</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
