{% resource "querytool/javascript/public_query.js" %}
{% resource 'querytool/vendor/c3/c3.css' %}
{% resource 'querytool/vendor/d3/d3.js' %}
{% resource 'querytool/vendor/c3/c3.js' %}
{% resource 'querytool/javascript/modules/viz-preview.js' %}

{% extends "querytool/public/base_main.html" %}

{% block page_header_content %}
<div class="container-fluid">
  <div class="page-header">
    <div class="row-fluid">
      <div class="span8 offset2">
        {% block page_header_title %}
          {% if querytool.title %}
            <h1>{{ querytool.title }}</h1>
          {% endif %}
        {% endblock %}
        {% block page_header_description %}
          {% if querytool.title %}
            <p class="desc">{{ querytool.description }}</p>
          {% endif %}
        {% endblock %}
      </div>
  </div>
</div>
{% endblock %}

{% block tools %}
<div class="container-fluid public-query">
  <div class="controls">
    <form method="GET">
      <div class="flex">
        <div class="filter-y">
          <label for="y_axis_column">{{ _('Y axis value') }}</label>
          <select id="y_axis_column" class="filter-item filter-item-column"><option>Preselected column</option></select>
        </div>
        <div class="filters">
          <!-- Empty lines somehow affect the appearance of the select items -->
          <div class="filter-group">
            <select class="filter-item filter-item-column"><option>&mdash; Select filter &mdash;</option><option>Column</option></select>
            <select class="filter-item filter-item-value hidden"><option>&mdash; Select value &mdash;</option><option>Value</option></select>
          </div>
        </div>
        <div class="actions">
          <button type="button" class="btn btn-large btn-secondary btn-add-filter"><span class="fa fa-plus"></span> {{ _('Add filter') }}</button>
          <button type="submit" class="btn btn-large btn-primary btn-update"><span class="fa fa-refresh"></span> {{ _('Update') }}</button>
        </div>
      </form>
    </div>
  </div>
  <div class="charts">
    {% for item in querytool.charts %}
      <div class="container-chart">
        {% snippet 'ajax_snippets/visualization_item.html',
        type='chart',
        colors=item.color,
        x_axis=item.x_axis,
        y_axis=item.y_axis,
        chart_type=item.graph,
        sql_string=querytool.sql_string %}
      </div>
    {% endfor %}
  </div>
  <!-- Visualizations container -->
</div>
<input type="hidden" id="query_init_filters" name="query_init_filters" value="{{ querytool.filters }}"/>

{% endblock %}

{% block footer %}
<div class="site-footer">
    <div class="container">
        <h3>Share or Download Story</h3>
        <div class="row">
            <div class="span6">
                <div class="input-append">
                    <input class="span4" id="appendedInputButtons" type="text" value="https://story-tool/Df6dFd3xPC4">
                    <button class="btn" type="button">Copy</button>
                </div>
            </div>
            <div class="span6">
                <ul class="inline pull-right">
                    <li>
                        <div class="btn-group dropup">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="fa fa-code"></span> Embed <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Submenu 1</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="btn-group dropup">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="fa fa-download"></span> Download
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">PDF</a>
                                </li>
                                <li>
                                    <a href="#">JPG</a>
                                </li>
                                <li>
                                    <a href="#">Download as ...</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="btn-group dropup">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="fa fa-share"></span> Share
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Facebook</a>
                                </li>
                                <li>
                                    <a href="#">Twitter</a>
                                </li>
                                <li>
                                    <a href="#">Share on ...</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
