{% extends "querytool/public/base_main.html" %}
{% set groups = h.querytool_get_groups()[0] %}

{% block breadcrumb_content %}
  {% if c.group %}
    <li class="active">{% link_for groups[c.group], controller=c.controller, action='querytool_public_list', group=c.group %}</li>
  {% endif %}
{% endblock %}

{% block page_header_title %}<h1>{{ _('Reports') }}</h1>{% endblock %}

{% block page_header_description %}
    <p>{{ _('List of all reports') }}</p>
{% endblock %}

{% block tools %}
<div class="container">
    {% if data %}
     {% for querytool in data | sort(attribute='title') %}
       {% if not querytool.private %}
        {% snippet 'querytool/public/snippets/query_tool_list_item.html', querytool=querytool %}
       {% endif %}
     {% endfor%}
   {% else %}
   <div class="alert alert-danger">
      <strong>{{ _('Reports are not published yet in this group') }}</strong>
   </div>
   {% endif %}
</div>
{% endblock %}