{% extends 'page.html' %}

{% block styles %}
  {{ super() }}
  {% resource 'querytool/css/public-story-tool.css' %}
{% endblock %}

{% block skip %}
{# Keep this block empty #}
{% endblock %}

{% block header %}
{# Keep this block empty #}
{% endblock %}

{% block content %}
<div class="story">
    <div class="background-wrapper">
        <div class="background">
            <img src="/base/images/story-header-bg.png" alt="">
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span10 offset1">
                    <span class="tag">Tobacco Use</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container-wrapper container-header">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span5 offset1">
                    <h1 class="title">Can drastically reduced nicotine take the 'hook' out of cigarettes?</h1>
                    <p class="meta muted">January 2018 / by John Doe</p>
                </div>
                <div class="span5">
                    <p class="lead">Objectively leverage existing leading-edge initiatives through viral e-services. Dramatically plagiarize market positioning strategic theme areas without multidisciplinary models. Conveniently strategize cooperative mindshare after best-of-breed information. Synergistically disintermediate cross functional outsourcing whereas prospective synergy. Globally pontificate cross-unit growth strategies before multifunctional alignments. Completely drive high-payoff results before customized vortals. Conveniently restore cooperative intellectual capital via state Some link of the art information. Enthusiastically maintain flexible human capital whereas team building niche markets.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-wrapper">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span5 offset1">
                    <img class="img-full-width" src="/base/images/smoker-type.png" alt="">
                </div>
                <div class="span5">
                    <img class="img-full-width" src="/base/images/starting-age.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="container-wrapper">
        <div class="container">
            <div class="row text-center quote">
                <div class="span8 offset2">
                    <img src="/base/images/quote-marks.png" alt="">
                    <blockquote>Vital Strategies works internationally to grow and shape a global anti-tobacco agenda, and, as a main partner
                    in the $1 billion Bloomberg Initiative to Reduce Tobacco Use, we work to support the adoption of proven
                    policies in more than 40 countries.</blockquote>
                </div>
            </div>
        </div>
    </div>
    <div class="container-wrapper">
        <div class="map">
            <img src="/base/images/map.png" alt="">
        </div>
    </div>
    <div class="container-wrapper">
        <div class="container">
            <h2>Assertively redefine functional methodologies before state of the art processes</h2>
            <p>Compellingly exploit impactful e-services for economically sound niches. Professionally negotiate timely
            alignments whereas cooperative functionalities. Rapidiously optimize resource sucking communities with
            cutting-edge human capital. Conveniently recaptiualize intermandated platforms via extensive users. Intrinsicly
            initiate B2C results rather than timely partnerships.</p>
            <p>Seamlessly myocardinate sticky materials before professional bandwidth. Interactively enable cost effective
            users through installed base niche markets. Collaboratively innovate worldwide partnerships rather than
            dynamic infrastructures. Synergistically synthesize corporate alignments and holistic deliverables. Distinctively
            fabricate exceptional users through cost effective web services.</p>
            <p>Assertively empower premium data rather than client-based strategic theme areas. Intrinsicly streamline
            highly efficient infomediaries vis-a-vis end-to-end niche markets. Proactively reintermediate client-centered
            leadership skills with technically sound partnerships. Conveniently communicate market positioning total
            linkage via worldwide imperatives. Enthusiastically promote client-centered users before highly efficient
            testing procedures.</p>
            <p>Seamlessly leverage existing cross functional niches vis-a-vis sticky processes. Assertively scale superior
            methodologies via covalent synergy. Intrinsicly procrastinate competitive solutions without holistic
            results. Dramatically seize fully tested functionalities through 24/7 relationships. Phosfluorescently
            aggregate backward-compatible benefits via covalent "outside the box" thinking.</p>
            <p>Dramatically unleash low-risk high-yield markets whereas distributed resources. Compellingly seize cross-media
            total linkage via go forward channels. Appropriately harness maintainable total linkage vis-a-vis error-free
            internal or "organic" sources. Assertively reintermediate an expanded array of total linkage vis-a-vis
            standardized collaboration and idea-sharing. Assertively e-enable fully researched "outside the box"
            thinking and high standards in channels.</p>
            <p>Proactively disintermediate cross-platform core competencies vis-a-vis proactive growth strategies.</p>
            <p>Assertively empower premium data rather than client-based strategic theme areas. Intrinsicly streamline
            highly efficient infomediaries vis-a-vis end-to-end niche markets. Proactively reintermediate client-centered
            leadership skills with technically sound partnerships. Conveniently communicate market positioning total
            linkage via worldwide imperatives. Enthusiastically promote client-centered users before highly efficient
            testing procedures.</p>
        </div>
    </div>
    <div class="container-wrapper">
        <div class="container">
            <img src="/base/images/smoker-type-table.png" alt="">
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<div class="site-footer">
    <div class="container">
        <h3>Share or Download Story</h3>
        <div class="row">
            <div class="span6">
                <div class="input-append">
                    <input class="span4" id="appendedInputButtons" type="text" value="https://story-tool/Df6dFd3xPC4">
                    <button class="btn" type="button">Copy</button>
                </div>
            </div>
            <div class="span6">
                <ul class="inline pull-right">
                    <li>
                        <div class="btn-group dropup">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="fa fa-code"></span> Embed <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Submenu 1</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="btn-group dropup">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="fa fa-download"></span> Download
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">PDF</a>
                                </li>
                                <li>
                                    <a href="#">JPG</a>
                                </li>
                                <li>
                                    <a href="#">Download as ...</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="btn-group dropup">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                                <span class="fa fa-share"></span> Share
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Facebook</a>
                                </li>
                                <li>
                                    <a href="#">Twitter</a>
                                </li>
                                <li>
                                    <a href="#">Share on ...</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
