{% import 'macros/form.html' as form %}

<form id="group-edit" class="dataset-form form-horizontal" method="post" data-module="basic-form" enctype="multipart/form-data">
  {% block error_summary %}
    {{ form.errors(error_summary) }}
  {% endblock %}

  {% block basic_fields %}
    {% asset 'querytool/javascript/modules/vs-groups-autocomplete.js' %}
    {% set attrs = {'data-module': 'slug-preview-target'} %}
    {{ form.input('title', label=_('Name'), id='field-name', placeholder=_('My Group'), value=data.title, error=errors.title, classes=['control-full'], attrs=attrs) }}

    {# Perhaps these should be moved into the controller? #}
    {% set prefix = h.url_for(controller='group', action='read', id='') %}
    {% set domain = h.url_for(controller='group', action='read', id='', qualified=true) %}
    {% set domain = domain|replace("http://", "")|replace("https://", "") %}
    {% set attrs = {'data-module': 'slug-preview-slug', 'data-module-prefix': domain, 'data-module-placeholder': '<group>'} %}

    {{ form.prepend('name', label=_('URL'), prepend=prefix, id='field-url', placeholder=_('my-group'), value=data.name, error=errors.name, attrs=attrs, is_required=true) }}

    {{ form.markdown('description', label=_('Description'), id='field-description', placeholder=_('A little information about my group...'), value=data.description, error=errors.description) }}
    {{ form.markdown('additional_description', label=_('Additional Description'), id='field-additional_description', placeholder=_('Additional description of the group...'), value=data.additional_description, error=errors.description) }}

    <div {% if g.group_parents_enabled != 'True' %}hidden{% endif %}>
      {% set group_dicts = h.get_available_groups(group_name=data.name) %}

      {{ form.select('group_relationship_type', label=_('Type'), options=[{'text': _('Parent'), 'value': 'parent'}, {'text': _('Child'), 'value': 'child'}], selected=data.group_relationship_type or 'child', error=errors.group_relationship_type) }}
      {{ form.select('parent', id='field-parent', label=_('Parent'), options=group_dicts, selected=data.parent or '', error=errors.parent) }}

      {% set child_attrs = {'data-module': 'vs-groups-autocomplete', 'data-module-tags': '', 'data-module-source': '/api/2/util/group/autocomplete?incomplete=?'} %}
      {{ form.input('children', id='field-children', label=_('Children'), placeholder=_('eg. alcohol, finance, environment'), value=data.children, error=errors.children, classes=['control-full'], attrs=child_attrs) }}
    </div>

    {% set is_upload = data.image_url and not data.image_url.startswith('http') %}
    {% set is_url = data.image_url and data.image_url.startswith('http') %}

    {{ form.image_upload(data, errors, is_upload_enabled=h.uploads_enabled(), is_url=is_url, is_upload=is_upload) }}

  {% endblock %}

  {% block custom_fields %}
    {% for extra in data.extras %}
      {% set prefix = 'extras__%d__' % loop.index0 %}
      {{ form.custom(
        names=(prefix ~ 'key', prefix ~ 'value', prefix ~ 'deleted'),
        id='field-extras-%d' % loop.index,
        label=_('Custom Field'),
        values=(extra.key, extra.value, extra.deleted),
        error=errors[prefix ~ 'key'] or errors[prefix ~ 'value']
      ) }}
    {% endfor %}

    {# Add a max if 3 empty columns #}
    {% for extra in range(data.extras|count, 3) %}
      {% set index = (loop.index0 + data.extras|count) %}
      {% set prefix = 'extras__%d__' % index %}
      {{ form.custom(
        names=(prefix ~ 'key', prefix ~ 'value', prefix ~ 'deleted'),
        id='field-extras-%d' % index,
        label=_('Custom Field'),
        values=(extra.key, extra.value, extra.deleted),
        error=errors[prefix ~ 'key'] or errors[prefix ~ 'value']
      ) }}
    {% endfor %}
  {% endblock %}

  {{ form.required_message() }}

  <div class="form-actions">
    {% block delete_button %}
      {% if h.check_access('group_delete', {'id': data.id})  %}
        {% asset 'querytool/javascript/modules/group-confirm-action.js' %}
        <a class="btn btn-danger pull-left group-delete-orphan" href="{% url_for controller='ckanext.querytool.controllers.group:QuerytoolGroupController', action='delete', id=data.id %}" data-module="group-confirm-action" data-module-content="{{ _('Are you sure you want to delete this Group?') }}, {{ _('<b>Note</b>: <i>Reports owned by this Group will become orphans. You will need to assign them to a new Group for them to be accessible to the public by visiting \"Reports\" tab on the \"Design Reports\" page.<i>') }}">{% block delete_button_text %}{{ _('Delete') }}{% endblock %}</a>
      {% endif %}
    {% endblock %}
    <button class="btn btn-primary" name="save" type="submit">{% block save_text %}{{ _('Save Group') }}{% endblock %}</button>
  </div>
</form>
