/* Colors */
/* Fonts */
/* Grid */
/* Media query breakpoints */
/* Extra small screen / phone */
/* Small screen / tablet */
/* Medium screen / desktop */
/* Large screen / wide desktop */
/* So media queries don't overlap when required, provide a maximum */
span.grippy {
  position: absolute;
  top: 50%;
  content: '....';
  left: 10px;
  width: 10px;
  height: 20px;
  display: inline-block;
  overflow: hidden;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
  font-size: 14px;
  line-height: 5px;
  padding: 5px;
  margin-top: -10px;
  vertical-align: middle;
  letter-spacing: 2px;
  color: #cccccc;
  text-shadow: 1px 0 1px black;
}
span.grippy::after {
  content: '.. .. .. ..';
}
span.grippy.cursor-grabbing {
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
