@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i');
/* Colors */
/* Fonts */
/* Grid */
/* Media query breakpoints */
/* Extra small screen / phone */
/* Small screen / tablet */
/* Medium screen / desktop */
/* Large screen / wide desktop */
/* So media queries don't overlap when required, provide a maximum */
.toolbar .breadcrumb {
  font-size: 14px;
}
.toolbar .breadcrumb li::after {
  margin-left: 5px;
  margin-right: 5px;
}
body {
  font-family: 'Roboto', sans-serif;
  background-image: none;
  background-color: #121e87;
}
a {
  color: #121e87;
}
.homepage .module-search .module-content {
  background-color: #121e87;
}
.homepage .module-search .tags {
  background-color: #010a5c;
}
.account-masthead {
  background-color: #010a5c;
}
.account-masthead .account ul li a {
  color: rgba(255, 255, 255, 0.7);
}
.account-masthead .account ul li a:hover {
  color: rgba(255, 255, 255, 0.9);
  background-color: #121e87;
}
.masthead {
  background-color: #121e87;
  height: auto;
}
.masthead .navigation .nav-pills li a {
  margin-left: 0;
  margin-right: 0;
  border-bottom: 4px solid transparent;
}
.masthead .navigation .nav-pills li a:hover {
  background-color: transparent;
  border-radius: 0;
  border-bottom: 4px solid rgba(249, 120, 89, 0.7);
  box-shadow: none;
}
.masthead .navigation .nav-pills li.active a {
  background-color: transparent;
  border-radius: 0;
  border-bottom: 4px solid #f97859;
  box-shadow: none;
}
.masthead .site-search {
  float: right;
}
.masthead .nav > li > a {
  color: rgba(255, 255, 255, 0.7);
}
.masthead #field-sitewide-search:focus {
  box-shadow: inset 0 0 0 1px #f97859;
  border-color: #f97859;
}
.nav-tabs a .fa {
  display: inline;
}
.nav-tabs a .fa:after {
  content: '';
  margin: 0 3px 0 0;
}
.btn {
  background-image: none;
  border-radius: 0;
}
.btn .fa {
  display: inline;
}
.btn .fa:after {
  content: '';
  margin: 0 3px 0 0;
}
.btn-primary {
  background-color: #121e87;
}
.btn-primary:focus {
  background-color: #121e87;
}
.btn-primary:hover {
  background-color: #010a5c;
}
.btn-secondary {
  background-color: #f97859;
  border-color: #f97859;
  color: #fff;
  text-shadow: none;
}
.btn-secondary:focus,
.btn-secondary:hover {
  color: #fff;
  border-color: #FF562B;
  background-color: #FF562B;
}
.btn-danger {
  background-color: #cf0000;
}
.btn-success {
  background-color: #00c853;
}
.btn,
label {
  font-weight: 400;
}
.site-footer {
  background-color: #121e87;
}
.site-footer a {
  color: rgba(255, 255, 255, 0.7);
}
.site-footer .dropdown-toggle {
  color: #010a5c;
}
.site-footer,
.site-footer label,
.site-footer small {
  color: rgba(255, 255, 255, 0.7);
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  border-radius: 0;
}
.search-form .search-input.search-giant button {
  margin-top: -15px;
}
.search-giant .search:focus {
  box-shadow: inset 0 0 0 2px #f97859;
  border-color: #f97859;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background: #f97859;
}
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  background: #f97859;
}
.query-item {
  border: 1px solid #c4c4c4;
  padding: 10px 20px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.query-body {
  margin: 0 20px;
  flex-grow: 1;
}
.query-body h2 {
  margin-bottom: 0;
}
.query-actions {
  flex-shrink: 0;
  margin-bottom: 0;
}
.filter-actions {
  margin: -20px 0 20px;
}
.filter_item {
  border-bottom: 1px solid #dedede;
  border-radius: 5px;
  margin: 20px 0;
}
.chart-actions {
  margin-bottom: 0;
}
.chart-actions.inline > li:last-child {
  padding-right: 0;
}
.chart-fields-section {
  position: relative;
  border: 1px solid #c4c4c4;
  padding: 20px;
  margin-bottom: 10px;
  background: #f7f7f7;
  display: flex;
}
.chart-preview-wrapper {
  background: #fff;
  flex-grow: 2;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dedede;
}
.chart-controls-wrapper {
  flex-direction: column;
}
/* Large desktop */
/* Desktop */
@media (min-width: 980px) {
  .masthead {
    padding-top: 10px;
  }
  .masthead .nav-collapse {
    float: none;
  }
  .masthead .nav-pills li {
    position: relative;
    bottom: -5px;
  }
}
/* Portrait tablet to landscape and desktop */
/* Up to desktop */
@media (max-width: 979px) {
  .btn-navbar {
    margin: 10px 0;
  }
  .toolbar {
    margin-bottom: 0;
  }
  .toolbar .breadcrumb .home {
    display: inline-block;
  }
  .masthead .navigation .nav-pills {
    margin-bottom: 20px;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .container-wrapper {
    background: none;
  }
}
/* Landscape phones and down */
