<div role="main" id="vs-home-page">
  <div class="container">
    <div class="row row1">
      <div class="span6 col1">
        {% block platform %}
        <div class="box homepage-box">
          <h1>{{ _('VIA Data') }}</h1>
          <span>
            {% trans %}The Portal Development Platform allows public health 
            agencies to design applications that let the public explore and 
            access a diverse range of health data sources. 
            The Platform has a simple interface that minimizes the 
            time dedicated to creating applications while providing 
            the essential visual and interactive elements for public access 
            to data. It was developed on opensource license with minimal 
            technological requirements, minimizing the resources needed for 
            its use and maintenance.{% endtrans %}

            {% trans %}VIA Data is a platform that allows Ministries of Health 
            and other public health organizations to publish visual, interactive 
            and accessible data reports from a wide range of health topics. 
            VIA Data has a simple interface that minimizes the time dedicated to 
            creating reports while providing the essential visual and interactive 
            elements for public access to data. It was developed on opensource 
            licenses with minimal technological requirements.{% endtrans %}
          </span>
        </div>
        {% endblock %}
      </div>
      <div class="span6 col2">
        {% block logos %} {% if g.site_logo %}
        <a class="logo" href="{{ h.url_for('home.index') }}"
          ><img
            src="{{ h.url_for_static_or_external(g.site_logo) }}"
            alt="{
                  { g.site_title }}"
            title="{{ g.site_title }}"
        /></a>
        {% else %}
        <img src="/base/images/vs-logo-blue.jpg" alt="Vital Strategies" />
        {% endif %} {% endblock %}
      </div>
    </div>
    {% block instructions %}
    <div class="box homepage-box">
      <h1>{{ _('Using the platform') }}</h1>
      <div>
        <p>
          {% trans%}Internal and public users of the platform have access to 
          different levels of tool functionality.{% endtrans %}
        </p>
        <ul class="list-group how-to-use">
          <li class="list-group-item">
            <b>{{_('Internal users')}}</b> <br />
            {% trans %}Internal users of the platform, once logged in, can upload 
            and manage new datasets in the <i>Manage Data</i> tab; and create and 
            edit interactive reports in the <i>Design Reports</i> tab.{% endtrans %}
          </li>
          <li class="list-group-item">
            <b>{{_('Public users')}}</b> <br />
            {% trans %}Public users can visualize and interact with published 
            interactive reports accessible via the <i>View Reports</i> tab.{% endtrans %}
          </li>
        </ul>
      </div>
    </div>
    {% endblock %}
  </div>
</div>
