<div role="main">
  <div class="container">
    <div class="row row1">
      <div class="span6 col1">
          {% block platform %}
          <div class="box homepage-box">
            <h1>{{ _('Portal Development Platform') }}</h1>
            <span>
              {{ _('This Platform allows Ministries of Health to publish data via user friendly applications, using visual and interactive elements') }}
            </span>
          </div>
          {% endblock %}
      </div>
      <div class="span6 col2">
          {% block logos %}
            <img src="/base/images/vs-logo.png" alt="Vital Strategies" />
          {% endblock %}
      </div>
    </div>
      {% block instructions %}
      <div class="box homepage-box">
          <h1>{{ _('How to use the Platform') }}</h1>
          <ul class="list-group">
              <li class="list-group-item active">Cras justo odio</li>
              <li class="list-group-item">Dapibus ac facilisis in</li>
          </ul>
      </div>
      {% endblock %}
  </div>
</div>
