{% import 'macros/form.html' as form %}

{% block scripts %}
    {% resource 'querytool/javascript/visualizations_settings.js' %}
{% endblock %}

{% set ctrl = 'ckanext.querytool.controllers.querytool:QueryToolController' %}
{% if data %}
    {% set name = data.name %}
{% else %}
    {% set name = '' %}
{% endif %}
{% set action_url = h.url_for('querytool_edit_visualizations', querytool= '/' + name) %}

<form method="post" action="{{ action_url }}" class="form-horizontal col-sm-12" id="visualizations-form">
{% block stages %}
  {% snippet 'querytool/admin/snippets/stages.html', stages=['complete', 'active'] %}
{% endblock %}

{% block error_summary %}
  {{ form.errors(error_summary) }}
{% endblock %}

{% block charts %}
    <fieldset>
      <legend>{{ _('Visualizations settings') }}</legend>
        <div id="visualization-settings-items">
        </div>
    </fieldset>
    <fieldset>
      <div id="create-visualization-item-section">
      {{ form.select('item_type', 'item_type', _('Item Type'), options=[{'value': '', 'text': 'Choose item'},
                                                                        {'value': 'chart', 'text': 'Chart'},
                                                                        {'value': 'map', 'text': 'Map'}], selected='') }}
        <a id="create-visualization-btn" class="btn btn-default" style="display: {{ btn_display  }}">Create item</a>
      </div>
      <div class="hidden" id="visualization-info-msg">
        <span>Some msg</span>
      </div>
    </fieldset>
{% endblock %}

<div class="form-actions">
  <button type="submit" class="btn btn-primary" name="save">{{ _('Save') }}</button>
</div>
</form>