{% import 'macros/form.html' as form %}
{% block scripts %}
{% resource 'querytool/javascript/visualizations_settings.js' %}
{% endblock %}

{% set ctrl = 'ckanext.querytool.controllers.querytool:QueryToolController' %}
{% if data %}
{% set name = data.name %}
{% else %}
{% set name = '' %}
{% endif %}
{% set action_url = h.url_for('querytool_edit_visualizations', querytool= '/' + name) %}
<form method="post" action="{{ action_url }}" data-sql-string="{{ data.sql_string }}" data-chart-resource="{{ data.chart_resource }}" data-map-resource="{{ data.map_resource }}" class="form-horizontal col-sm-12" id="visualizations-form">
  {% block stages %}
  {% snippet 'querytool/admin/snippets/stages.html', stages=['complete', 'active'] %}
  {% endblock %}

  {% block error_summary %}
  {{ form.errors(error_summary) }}
  {% endblock %}
  {% block charts %}
  <legend>{{ _('Data visualizations') }}</legend>
  <fieldset>
      <div id="create-visualization-item-section">
        <ul class="inline">
          <li>
            {{ form.select('item_type', 'item_type', _('Visualization type'), options=[{'value': '', 'text': '— Select type —'}, {'value': 'chart', 'text': 'Chart'}, {'value': 'map', 'text': 'Map'}]) }}
          </li>
          <li>
            <a id="create-visualization-btn" class="btn btn-info" style="display: {{ btn_display  }}"><span class="fa fa-plus-square"></span> {{ _('Add visualization') }}</a>
          </li>
        </ul>
        <div class="hidden" id="visualization-info-msg">
          <span>Some msg</span>
        </div>
      </div>
    </fieldset>
  <fieldset>
    <div id="visualization-settings-items">
      {% if data.charts  %}
        {% for chart in data.charts %}
          {% snippet 'ajax_snippets/chart_fields.html',
            n=chart.order,
            chart=chart,
            map_resource=data.map_resource,
            chart_resource=data.chart_resource %}
        {% endfor %}
      {% endif %}
    </div>
  </fieldset>

{% endblock %}

<div class="form-actions">
  <button type="submit" class="btn btn-success" name="save">{{ _('Save') }}</button>
</div>
</form>
