{#

Creates layout for a query tool fields.

title - The title of the query tool.
description - description what kind of data is in the query tool.
name - name of the query tool (unique)

Example usage:
  {% snippet 'querytool/snippets/edit_data_form.html', querytool=querytool, data=data, errors= errors%}

#}
{% import 'macros/form.html' as form %}

{% if querytool %}
  {% set action_url = h.url_for('querytool_edit', querytool= '/' + querytool.name) %}
{% else %}
  {% set action_url = h.url_for('querytool_edit', querytool= '') %}
{% endif %}
{% set datasets = h.querytool_get_datasets() %}
<form method="post" action="{{ action_url }}" class="form-horizontal" id="">
{% block stages %}
  {% snippet 'querytool/admin/snippets/stages.html', stages=['active', 'complete'] %}
{% endblock %}

{% block error_summary %}
  {{ form.errors(error_summary) }}
{% endblock %}


  <legend>{{ _('Basic info') }}</legend>

  {{ form.input('title', id='field-title', label=_('Save As'), placeholder=_('Title of the query tool'), value=data.title, error=errors.title, classes=['control-full', 'control-large'], attrs={'data-module': 'slug-preview-target', 'class': 'form-control'}) }}

  {% set prefix = h.url_for('querytool_public_read', name= '') %}
  {% set domain = h.url_for('querytool_public_read', name= '') %}
  {% set domain = domain|replace("http://", "")|replace("https://", "") %}
  {% set attrs = {'data-module': 'slug-preview-slug', 'data-module-prefix': domain, 'data-module-placeholder': '<application>', 'class': 'form-control input-sm'} %}

  {{ form.prepend('name', id='field-name', label=_('URL'), prepend=prefix, placeholder=_('eg. my-querytool'), value=data.name, error=errors.name, attrs=attrs, is_required=true) }}

  {{ form.markdown('description', id='field-description', label=_('Display Title and Description'), placeholder=_('eg. Some useful description about the query tool'), value=data.description, error=errors.description) }}

  <div class="control-group">
    <label for="field-group" class="control-label">{{ _('Public Folder') }}</label>
    <div class="controls">
      <select id="field-group" name="group">
        {% for group in h.querytool_get_groups() %}
        <option value="{{ group }}" {% if group == data.group|trim %}selected="selected"{% endif %}>{{ group }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  {% set organizations_available = h.organizations_available('create_dataset') %}
  <div class="control-group">
    <label for="field-organizations" class="control-label">{{ _('Organization') }}</label>
    <div class="controls">
      <select id="field-organizations" name="owner_org">
        {% for organization in organizations_available %}
        <option value="{{ organization.id }}">{{ organization.display_name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <legend>{{ _('Settings') }}</legend>

  <div class="control-group">
    <label for="field-type" class="control-label">{{ _('Application Type') }}</label>
    <div class="controls">
      <select id="field-type" name="type">
        {% for option in [('main', _('Main')), ('related', _('Related'))] %}
        <option value="{{ option[0] }}" {% if option[0] == data.type|trim %}selected="selected"{% endif %}>{{ option[1] }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="control-group">
    <label for="field-private" class="control-label">{{ _('Visibility') }}</label>
    <div class="controls">
      <select id="field-private" name="private" disabled>
        {% for option in [('True', _('Private')), ('False', _('Public'))] %}
        <option value="{{ option[0] }}" {% if option[0] == data.private|trim %}selected="selected"{% endif %}>{{ option[1] }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <hr>
  <fieldset id="related_querytools">
    {% if data.related_querytools  %}
      {% for querytool in data.related_querytools %}
        {% snippet 'ajax_snippets/related_querytool_item.html', n=querytool.order, querytool_name=querytool.name %}
      {% endfor %}
    {% endif %}
  </fieldset>

  <div class="control-group">
    <a class="btn btn-info" id="add-related-querytool">
      <span class="fa fa-plus-square"></span>
      <span class="fa-label">{{_('Add Related Application')}}</span>
    </a>
  </div>

  <legend>{{ _('Select dataset and resource') }}</legend>
  {% block querytool_dataset %}
    <div class="control-group">
      <label class="control-label" for="field-datasets"><span title="This field is required" class="control-required">*</span>{{ _("Dataset") }}</label>
      <div class="controls">
        <select id="field-datasets" name="dataset_name" data-module="autocomplete">
          <option value="" {{ 'selected' if not data.dataset_name }}>-- {{ _('Choose Dataset') }} --</option>
          {% for dataset in datasets %}
            <option value="{{ dataset }}" {{ 'selected' if dataset == data.dataset_name }}>{{ dataset }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  {% endblock %}

  {% if data.dataset_name %}
      {% set dataset_resources = h.querytool_get_dataset_resources(data.dataset_name) %}
  {% endif %}

  {% block querytool_choose_chart_resource %}
    {{ form.select('chart_resource', label=_('Resource'), options=dataset_resources, selected=data.chart_resource, error=errors.chart_resource, attrs={'required': 'required'}) }}
  {% endblock %}


  <legend>{{ _('Measure(s)') }}</legend>
  {% set columns = h.querytool_get_numeric_resource_columns(data.chart_resource) %}
  <div id="y-axis-columns-container" {% if columns | length == 0 %} style="display: none;" {% endif %}>
    <div id="y-axis-columns-results">
      {% for column in columns %}
        {% set column_id = h.querytool_get_uuid() %}
        {% set measure = h.querytool_pick_first_by_attr_value(querytool.y_axis_columns, 'name', column) %}
        <div class="control-group control-checkbox-group">
          <input name="y_axis_name_{{ column_id }}" id="y_axis_name_{{ column_id }}" type="checkbox" value="{{ column }}" {% if measure %} checked {% endif %} />
          <label class="control-label" for="y_axis_name_{{ column_id }}">{{ column }}</label>
          <input name="y_axis_alias_{{ column_id }}" id="y_axis_alias_{{ column_id }}" type="text" placeholder="Optional label" value="{{ measure.alias }}">
        </div>
      {% endfor %}
    </div>
  </div>

  <em class="muted"
      id="y-axis-columns-notice"
      {% if data.chart_resource %} style="display: none;" {% endif %}>{{ _('Please choose a resource to see available numeric columns.') }}</em><br><br>

  {% block querytool_main_filters %}
    <legend>{{ _('Filter(s)') }}</legend>

    <fieldset id="main-filters">

      {% if data.filters  %}
        {% for filter in data.filters %}
          {% snippet 'ajax_snippets/filter_item.html', n=filter.order, active_filters=c.active_filters, selected_filter=filter %}
        {% endfor %}
      {% endif %}

    </fieldset>

    <div class="control-group">
      <a class="btn btn-info" id="add-filter-button">
        <span class="fa fa-plus-square"></span>
        <span class="fa-label">{{_('Add Filter')}}</span>
      </a>
    </div>
  {% endblock %}

<div class="form-actions">
  <button type="submit" class="btn btn-success" name="save_data">{{ _('Save') }}</button>
  <button type="submit" class="btn" name="save"><span class="fa fa-pencil" aria-hidden="true"></span> {{ _('Save & Add/Edit Visualizations') }}</button>
</div>
</form>
