{% import 'macros/form.html' as form %}

{% resource 'querytool/vendor/c3/c3.css' %}
{% resource 'querytool/vendor/d3/d3.js' %}
{% resource 'querytool/vendor/c3/c3.js' %}
{% resource 'querytool/vendor/nunjucks.js' %}
{% resource 'querytool/javascript/visualizations_settings.js' %}
{% resource 'querytool/javascript/modules/viz-preview.js' %}
{% resource 'querytool/map' %}
{% resource 'querytool/table' %}

{% set ctrl = 'ckanext.querytool.controllers.querytool:QueryToolController' %}
{% if data %}
{% set name = data.name %}
{% else %}
{% set name = '' %}
{% endif %}

{% set action_url = h.url_for('querytool_edit_visualizations', querytool= '/' + name) %}

<form method="post" action="{{ action_url }}" data-y-axis-values="{{ data.y_axis_values }}" data-main-filters-names="{{ data.main_filters_names }}"
      data-sql-string="{{ data.sql_string }}" data-chart-resource="{{ data.chart_resource }}" data-main-filters="{{ data.main_filters or [] }}"
      data-map-resource="{{ data.map_resource }}" class="form-horizontal col-sm-12" id="visualizations-form" enctype='multipart/form-data'>
  {% block stages %}
  {% snippet 'querytool/admin/snippets/stages.html', stages=['complete', 'active'] %}
  {% endblock %}

  {% block error_summary %}
  {{ form.errors(error_summary) }}
  {% endblock %}
  {% block charts %}
  <legend class="sticky-title">{{ _('Visualizations') }}
    <ul class="inline pull-right">
      <li><button class="btn save-visualization-btn" type="submit" id="save-edit-data-btn" name="save-edit-data" disabled="disabled"><span class="fa fa-pencil" aria-hidden="true"></span> {{ _('Save & Edit data') }}</button></li>
      <li><button id="save-visualization-btn" type="submit" class="btn btn-success save-visualization-btn" name="save" disabled="disabled">{{ _('Save') }}</button></li>
    </ul>
  </legend>
  {% if data.visualizations %}
    {% set selected_y_axis_column = data.y_axis_column %}
  {% endif %}
  <div class="chart-global-controls">
    {{ form.select('choose_y_axis_column', 'choose_y_axis_column', _('Default measure'), options=data.y_axis_options, selected=selected_y_axis_column) }}
  </div>

  <fieldset>
    <div id="choose-y-axis-column-container">
      <ul class="inline">
        <li>
          {{ form.select('item_type', 'item_type', _('Visualization type'), options=[{'value': '', 'text': _('— Select type —')}, {'value': 'chart', 'text': _('Chart')}, {'value': 'map', 'text': _('Map')}, {'value':'text-box', 'text': _('Text box')},{'value':'image', 'text': _('Image')}, {'value':'table', 'text': _('Table')}]) }}
        </li>
        <li>
          <a id="add-visualization-btn" class="btn btn-info" style="display: {{ btn_display  }}"><span class="fa fa-plus-square"></span> {{ _('Add visualization') }}</a>
        </li>
      </ul>
      <div class="hidden" id="visualization-info-msg">
        <span>Some msg</span>
      </div>
    </div>
  </fieldset>
  <fieldset id="visualization-settings-items" class="visualizations">
    {% set measure = h.querytool_pick_first_by_attr_value(data.y_axis_columns, 'name', data.y_axis_column, default={}) %}
    {% set measure_label = measure.alias or measure.name %}
    {% for item in data.visualizations %}
      {% if item.type == 'chart'  %}
        {% snippet 'ajax_snippets/chart_item.html',
          n = item.order,
          chart = item,
          sql_string = data.sql_string,
          map_resource = data.map_resource,
          chart_resource = data.chart_resource,
          y_axis_values = data.y_axis_values,
          main_filters = data.main_filters_names,
          measure_label = measure_label,
          info_query_filters = data.main_filters
        %}
      {% endif %}
      {% if item.type == 'text_box'  %}
        {% snippet 'ajax_snippets/text_box_item.html',
          n = item.order,
          box = item
        %}
      {% endif %}
      {% if item.type == 'image'  %}
        {% snippet 'ajax_snippets/image_item.html',
          n = item.order,
          data = item
        %}
      {% endif %}
      {% if item.type == 'map'  %}
        {% snippet 'ajax_snippets/map_item.html',
          n = item.order,
          map = item,
          sql_string = data.sql_string,
          chart_resource = data.chart_resource,
          y_axis_column = data.y_axis_column,
          measure_label = measure_label,
          map_color_scheme = data.map_color_scheme,
          y_axis_values = data.y_axis_values,
          main_filters = data.main_filters_names
        %}
      {% endif %}
     {% if item.type == 'table'  %}
        {% snippet 'ajax_snippets/table_item.html',
          n = item.order,
          table = item,
          sql_string = data.sql_string,
          resource_id = data.chart_resource,
          y_axis = data.y_axis_column,
          y_axis_values = data.y_axis_values,
          measure_label = measure_label,
          main_filters = data.main_filters_names
        %}
      {% endif %}
    {% endfor %}
  </fieldset>

{% endblock %}
</form>
