{#

Creates layout for a query tool fields.

title - The title of the query tool.
description - description what kind of data is in the query tool.
name - name of the query tool (unique)

Example usage:
  {% snippet 'querytool/snippets/edit_data_form.html', querytool=querytool, data=data, errors= errors%}

#}
{% import 'macros/form.html' as form %}

{% if querytool %}
  {% set action_url = h.url_for('querytool_edit', querytool= '/' + querytool.name) %}
{% else %}
  {% set action_url = h.url_for('querytool_edit', querytool= '') %}
{% endif %}
{% set datasets = h.querytool_get_datasets() %}
<form method="post" action="{{ action_url }}" class="form-horizontal" id="">
{% block stages %}
  {% snippet 'querytool/admin/snippets/stages.html', stages=['active', 'complete'] %}
{% endblock %}

{% block error_summary %}
  {{ form.errors(error_summary) }}
{% endblock %}


  <legend>{{ _('Basic info') }}</legend>

  {{ form.input('title', id='field-title', label=_('Title'), placeholder=_('Title of the query tool'), value=data.title, error=errors.title, classes=['control-full', 'control-large'], attrs={'data-module': 'slug-preview-target', 'class': 'form-control'}) }}

  {% set prefix = h.url_for('querytool_show', querytool= '') %}
  {% set domain = h.url_for('querytool_show', querytool= '') %}
  {% set domain = domain|replace("http://", "")|replace("https://", "") %}
  {% set attrs = {'data-module': 'slug-preview-slug', 'data-module-prefix': domain, 'data-module-placeholder': '<querytool>', 'class': 'form-control input-sm'} %}

  {{ form.prepend('name', id='field-name', label=_('URL'), prepend=prefix, placeholder=_('eg. my-querytool'), value=data.name, error=errors.name, attrs=attrs, is_required=true) }}

  {{ form.markdown('description', id='field-description', label=_('Description'), placeholder=_('eg. Some useful description about the query tool'), value=data.description, error=errors.description) }}
  <legend>{{ _('Data and resources') }}</legend>
  {% block querytool_dataset %}
    <div class="control-group">
      <label class="control-label" for="field-datasets"><span title="This field is required" class="control-required">*</span>{{ _("Dataset") }}</label>
      <div class="controls">
        <select id="field-datasets" name="dataset_name" data-module="autocomplete">
          <option value="" {{ 'selected' if not data.dataset_name }}>-- Choose Dataset --</option>
          {% for dataset in datasets %}
            <option value="{{ dataset }}" {{ 'selected' if dataset == data.dataset_name }}>{{ dataset }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  {% endblock %}

  {% if data.dataset_name %}
      {% set dataset_resources = h.querytool_get_dataset_resources(data.dataset_name) %}
  {% endif %}

  {% block querytool_choose_chart_resource %}
    {{ form.select('chart_resource', label=_('Chart resource'), options=dataset_resources, selected=data.chart_resource, error=errors.name) }}
  {% endblock %}

  {% block querytool_choose_map_resource %}
    {{ form.select('map_resource', label=_('Map resoure'), options=dataset_resources, selected=map_resource, error=errors.name) }}
  {% endblock %}

  <legend>{{ _('Y Axis columns') }}</legend>
  {% set columns = h.querytool_get_resource_columns(data.chart_resource) %}

  <div class="control-group control-checkbox-group"
       id="y-axis-columns-container"
       {% if columns | length == 0 %} style="display: none;" {% endif %}>
    <label class="control-label" for="y-axis-columns-results"><span title="This field is required" class="control-required">*</span>{{ _("Y Axis columns") }}</label>
    <div class="controls">
        <ul class="inline" id="y-axis-columns-results">
            {% for column in columns %}
            <li class="checkbox-marked">
                <input name="y_axis_column_{{ column }}" id="y_axis_column_{{ column }}" type="checkbox" value="{{ column }}" {% if column in data.y_axis_columns %} checked {% endif %} />
                <label for="y_axis_column_{{ column }}">{{ column }}</label>
            </li>
            {% endfor %}
        </ul>
    </div>
  </div>

  <em class="muted"
      id="y-axis-columns-notice"
      {% if data.chart_resource %} style="display: none;" {% endif %}>Please choose a chart resource to see available columns.</em><br><br>

  {% block querytool_main_filters %}
    <legend>{{ _('Filters') }}</legend>

    <fieldset id="main-filters">

      {% if data.filters  %}
        {% for filter in data.filters %}
          {% snippet 'ajax_snippets/filter_item.html', n=filter.order, active_filters=c.active_filters, selected_filter=filter %}
        {% endfor %}
      {% endif %}

    </fieldset>

    <a class="btn btn-info" id="add-filter-button">
      <span class="fa fa-plus-square"></span>
      <span class="fa-label">{{_('Add Filter')}}</span>
    </a>
  {% endblock %}

<div class="form-actions">
  <button type="submit" class="btn btn-success" name="save">{{ _('Set visualisations') }}</button>
</div>
</form>
