{#
Display edit image upload page.
n - Order
Example usage:
{% snippet 'querytool/admin/snippets/image_upload.html', n=data.order  %}
#}
{% if uploads_enabled %}

<div
   class="image-upload"
   data-module="custom-image-upload"
   data-module-is_url="false"
   data-module-is_upload="false"
   data-module-field_url="media_image_url_{{ n }}"
   data-module-field_upload="media_image_upload_{{ n }}"
   data-module-field_clear="media_clear_upload_{{ n }}"
   data-module-upload_label="Image">
   <div class="control-group control-full">
      <label class="control-label" for="field-image-url">Image URL</label>
      <div class="controls ">
         <input id="field-image-url" type="text" name="media_image_url_{{ n }}" value="" placeholder="http://example.com/my-image.jpg">
      </div>
   </div>
   <div class="control-group control-full">
      <label class="control-label" for="field-image-upload">Image</label>
      <div class="controls ">
         <input id="field-image-upload" type="file" name="media_image_upload_{{ n }}" value="" placeholder="">
      </div>
   </div>
</div>
{% else %}
<div class="control-group control-full">
   <label class="control-label" for="field-image-url">Image URL</label>
   <div class="controls ">
      <input id="field-image-url" type="text" name="media_image_url_{{ n }}" value="" placeholder="http://example.com/my-image.jpg">
   </div>
</div>
{% endif %}
{% set sizes = h.querytool_get_visualization_size() %}
<div class="control-group control-select">
   <label class="control-label" for="image_field_size_{{ n }}">{{ _('Chart size') }}</label>
   <div class="controls ">
      <select id="image_field_size_{{ n }}" name="image_field_size_{{ n }}">
         {% for size in sizes %}
         <option value="{{ size.value }}"  >{{size.text}}</option>
         {% endfor %}
      </select>
   </div>
</div>