{% ckan_extends %}

{% block meta %}
  {{ super() }}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <script>
    function checkIE() {
      if (window.document.documentMode) {
        // Do IE stuff
        document.getElementById("iepopup").style.display = "block";
        document.getElementById("ieshadow").style.display = "block"
      }
    }

    function close_popup() {
        document.getElementById("iepopup").style.display = "none";
        document.getElementById("ieshadow").style.display = "none"
    }

    window.onload = checkIE;
  </script>
{% endblock %}

{% block styles %}
  {{ super() }}
  {% resource 'querytool/css/main.css' %}
  {% resource 'querytool/css/palette-color-picker.css' %}
{% endblock %}

{% block bodytag %} {{ super() }} id="vs-page"{% endblock %}

{% block scripts %}
  {% resource 'querytool/javascript/ie.js' %}
  {{ super() }}
  {% resource 'querytool/javascript/vitals.js' %}
{% endblock %}
