{% ckan_extends %}

<!-- Variables -->
{% set theme = 'custom' %}

{% set section_1__text = '
  # National Institute of Statistics, Ministry of Planning  
  Street 360, Sangkat Boeng Keng Kang 1, Khan Chamkarmon, Phnom Penh, Cambodia  
' %}
{% set section_2__text = '
  # National Institute of Statistics, Ministry of Planning  
  Street 360, Sangkat Boeng Keng Kang 1, Khan Chamkarmon, Phnom Penh, Cambodia
' %}

{% set section_1__image = 'https://upload.wikimedia.org/wikipedia/en/3/30/MOH_logo.png' %}
{% set section_2__image = 'https://upload.wikimedia.org/wikipedia/en/3/30/MOH_logo.png' %}

{% set section_3__text = 'Subscribe and follow us' %}

{% set social_media_links = [
  { "type": "tiktok", "link": "tiktok.com" },
  { "type": "whatsapp", "link": "whatsapp.com" },
  { "type": "linkedin", "link": "linkedin.com" },
  { "type": "instagram", "link": "instagram.com" },
  { "type": "twitter", "link": "twitter.com" }
]%}

{% set copyright_text = '© 2022 National Institute of Statistics, Ministry of Planning. All rights reserved.' %}
<!-- Variables -->

{% block footer_content %}
  {# If not text is set, uses default footer #}
  {% if theme == 'default' %}
    {{ super() }}
  {% else %}
    <style>
        .site-footer .container {
            padding-bottom: 0;
            padding-top: 0;
            width: auto;
        }
    </style>
    <footer>
      <div class="custom-footer">
        {% if section_1__text %}
          <div class="footer-markdown logo-item">
            <img src="{{ section_1__image }}" style="margin-right: 10px;">
            <div>
              {{ h.render_markdown(section_1__text) }}
            </div>
          </div>
        {% endif %}
        {% if section_2__text %}
          <div class="footer-markdown logo-item">
            <img src="{{ section_2__image }}" style="margin-right: 10px;">
            <div>
              {{ h.render_markdown(section_2__text) }}
            </div>
          </div>
        {% endif %}
        {% if section_3__text %}
          <div>
            <p><strong>{{ section_3__text }}</strong></p>
            <span class="social-media">
                {% for social_media in social_media_links %}
                  <a href="{{ social_media.link }}">
                    <img alt="{{ social_media.type }}" src="/base/images/social/{{ social_media.type }}.png">
                  </a>
                {% endfor %}
            </span>
          </div>
        {% endif %}
        <div class="supporters">
          <div class="attribution">
            <p>
              <strong>Powered by</strong> 
              <a class="hide-text ckan-footer-logo logo" href="http://ckan.org">
                CKAN
              </a>
            </p>
          </div>
          <div class="attribution">
            <p>
              <strong>Supported by</strong><br>
              <a class="hide-text" href="https://www.vitalstrategies.org">
                <img src="/base/images/logos/vital-strategies.svg" class="logo">
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="copyright">
        <p>{{ copyright_text }}</p>
      </div>
    </footer>
  {% endif %}
{% endblock %}