{% ckan_extends %}

<!-- Variables -->
{% set footer_image = 'https://config-camstat-live.officialstatistics.org/assets/default/webapp/images/cambodia-data-explorer-logo.png' or '' %}
{% set footer_text = '© 2022 Lorem ipsum dolor sit amet' or '' %}
<!-- Variables -->

{% block footer_content %}
  {# If not text is set, uses default footer #}
  {% if not footer_text %}
    {{ super() }}
  {% else %}
    <style>
        .site-footer .container {
            padding-bottom: 0;
            padding-top: 0;
            width: auto;
        }
    </style>
    <footer class="custom-footer">
      <div class="logo-text">
        <img src="{{ footer_image }}" />
        <p>{{ footer_text }}</p>
      </div>
      <div class="attribution">
        <p>
          <strong>Powered by</strong> 
          <a class="hide-text ckan-footer-logo" href="http://ckan.org">
            CKAN
          </a>
        </p>
      </div>
    </footer>
  {% endif %}
{% endblock %}